@use 'synapse-react-client/style/abstracts/variables' as SrcVariables;
@use '../ChallengeCardsSection.module.scss' as Base;
@use 'sass:map';

.NewChallengesSection__root {
  position: relative;
}

.NewChallengesSection__sectionTitle:global(.MuiTypography-root) {
  @include Base.sectionTitle;
}

.NewChallengesSection__container {
  @include Base.sectionContainer;
}

.NewChallengesSection__triangleImage {
  @include Base.imagePosition;
  left: 65%;
  bottom: 100%;
  color: #eb8231;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    left: 60%;
  }
}

.NewChallengesSection__circleImage {
  @include Base.imagePosition;
  left: 5%;
  color: #669fc1;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    left: 25%;
  }
}

.NewChallengesSection__longLineImage {
  @include Base.imagePosition;
  right: 10%;
  bottom: 100%;
  color: #6db56d;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    left: 73%;
  }
}

.NewChallengesSection__shortLineImage {
  @include Base.imagePosition;
  right: 7%;
  color: #6db56d;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    right: 2%;
    left: 74%;
  }
}
