@use 'synapse-react-client/style/abstracts/variables' as SrcVariables;
@use '../ChallengeCardsSection.module.scss' as Base;
@use 'sass:map';

.ChallengeNewsSection__root {
  margin-top: 180px;
}

.ChallengeNewsSection__sectionTitle:global(.MuiTypography-root) {
  @include Base.sectionTitle;
}

.ChallengeNewsSection__container {
  @include Base.sectionContainer;
}

.ChallengeNewsSection__triangleImage {
  @include Base.imagePosition;
  left: 65%;
  bottom: 100%;
  color: #eb8231;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    left: 60%;
  }
}

.ChallengeNewsSection__circleImage {
  @include Base.imagePosition;
  left: 5%;
  color: #669fc1;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    left: 25%;
  }
}

.ChallengeNewsSection__longLineImage {
  @include Base.imagePosition;
  right: 10%;
  bottom: 100%;
  color: #6db56d;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    left: 73%;
  }
}

.ChallengeNewsSection__shortLineImage {
  @include Base.imagePosition;
  right: 7%;
  color: #6db56d;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    right: 2%;
    left: 74%;
  }
}

.ChallengeNewsSection__titleSectionVectors {
  position: absolute;
  top: -10%;
  left: 5%;
  width: 90%;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    width: 100%;
    left: 0%;
  }
}

.ChallengeNewsSection__headerSection {
  display: flex;
  flex-direction: column;
  position: relative;
}
