@use '@sage-bionetworks/synapse-portal-framework/src/style/variables' as Portal;

#header,
#footer {
  background-color: Portal.$primary-action-color;
}

#footer {
  background: linear-gradient(263.11deg, #8bb4ce 2.14%, #3e7293 50.63%);
}
