@use 'sass:map';
@use 'synapse-react-client/style/abstracts/variables' as SrcVariables;

.adknowledgeContributeCardContainer {
  border-radius: 5px;
  border: 1px solid var(--UI-Gray-400, #dfe2e6);
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-items: center;
  text-align: center;
  gap: 41px;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    padding: 40px;
  }
}

.adknowledgeContributeCardTitle:global(.MuiTypography-root) {
  color: var(--adkp-accent-color);
  font-size: 36px;
  line-height: 40px; /* 111.111% */
  margin-bottom: 10px;
}

.adknowledgeContributeCardDescription:global(.MuiTypography-root) {
  line-height: 21px;
}

.textContainer {
  max-width: 650px;
}
