.didYouMeanContainer {
  display: flex;
  width: 100%;
}

.didYouMeanSuggestion {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.searchIcon {
  margin-right: 3px;
}

.suggestionText {
  text-decoration: underline;
  font-style: italic;
}

.didYouMeanCurrentlyShowing {
  margin-right: 0;
}

.didYouMeanArrowContainer {
  border: 1px solid;
  display: flex;
  align-items: center;
  padding: 6px 16px;
}

.didYouMeanText {
  margin-right: 16px !important;
}
