.account-settings-page {
  overflow-y: scroll;
  position: relative;
}

.account-setting-panel {
  margin-bottom: 20px;
  &.nav-panel {
    margin-right: 60px;
    white-space: nowrap;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.025),
      0px 4px 2px rgba(0, 0, 0, 0.025), 0px 2px 1px rgba(0, 0, 0, 0.025);
    border-radius: 3px;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 60px;
    align-self: flex-start;
    padding-top: 10px;
    padding-bottom: 20px;
    > .MuiListItemButton-root {
      padding-left: 30px;
      padding-right: 30px;
      border-bottom: 1px solid #eaecee;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &.main-panel {
    background-color: #fff;
    padding: 54px;
    width: 720px;
    @media (max-width: 1024px) {
      width: 100%;
      padding: 15px;
    }
    h3 {
      margin-top: 0px;
    }
    .credential-partition {
      h4 {
        margin-top: 0px;
      }
      .completeIcon {
        color: #32a330;
      }
      .incompleteIcon {
        color: #c13415;
      }
      .item-completion {
        margin: 20px 0;
      }
      border-bottom: 1px #eaecee solid;
      margin-bottom: 1px;
      padding: 34px 0;
    }
    .primary-button-container {
      margin-top: 30px;
      display: inline-block;
    }
  }
  .sourceAppItem svg {
    width: 100%;
  }
}
