.AccountCreatedPage {
  .right-panel {
    margin-top: 16px;
  }
  button,
  a {
    width: 100%;
    margin: 10px 0px;
    display: block;
  }
  .sourceAppItem svg {
    max-height: 50px;
    max-width: 130px;
    height: 37px;
  }
}
