#body {
  .btn {
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
  }
  .form-group.required .form-label:after {
    content: '*';
    margin-left: 2px;
    top: 0px;
  }
  .blue-background {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgb(236, 241, 245);
    .container {
      background: #fefefe;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      padding: 80px;
      .MuiButton-containedSecondary {
        background-color: var(--synapse-secondary-action-color);
      }
    }
  }
  .buttonsContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
  }
  .googleSignInButton {
    text-align: left;
    &:hover {
      background-color: white;
    }
    .signInText {
      margin-left: 34px;
    }
  }
  .emptyButton {
    color: black;
    background-color: #fefefe;
    &:hover {
      background-color: #f4f4f4;
    }
  }
}
