.top-nav {
  background: rgba(256, 256, 256, 1);
  padding: 40px;
  width: 100%;
  font-size: 18px;

  .nav-link {
    color: black;
    font-weight: 400;
    line-height: 27px;
    padding: 0 20px;
    text-decoration: none;
  }

  .active {
    font-weight: 700;
  }
}
