#body {
  .profile-avatar {
    .containers {
      margin-bottom: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      .contact-icon {
        width: 24px;
        margin-right: 8px;
      }
    }

    .profile-pic {
      border: solid 1px;
      width: 133px;
      height: 133px;
      border-radius: 100%;
      border-color: black;
      margin: 30px 0px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  }

  .modal-content {
    .cropper-modal-body {
      width: 400px;
      height: 400px;
      margin: 20px auto;
    }
  }

  .modal-btn-container {
    margin: auto;
    padding: 20px;

    .modal-btn {
      display: inline-block;
      width: 150px;
      min-width: 0;
    }
  }
}
