.SageResourcesPage {
  .sourceAppItem {
    .SourceAppImage {
      display: inline-block;
      max-height: 50px;
      height: 50px;
      margin-bottom: 30px;
      width: 100%;
    }
    margin-bottom: 30px;
  }
}
