.CreatePackageV2 {
  padding-bottom: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .createManifestStep {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .createPackageStep {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .checkbox label {
    font-weight: normal;
  }

  .createManifestTitle,
  .createPackageTitle {
    font-weight: bold;
  }

  .createPackageDescription {
    margin-bottom: 20px;
  }
}
