# See https://help.github.com/ignore-files/ for more about ignoring files.

# css
*.css
*.css.map
!styleguide.setup.css

# dependencies
node_modules/

# testing
coverage/

# incremental builds
build/
*.tsbuildinfo

.eslintcache

# docs build
/styleguide

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# visual studio specific
jsconfig.json
.vscode

# webstorm specific
.idea
*.iml

#rollup
.rpt2_cache

# dist/build folders created to either deploy to npm or
# to gh-pages
apps/*/dist
packages/*/dist
storybook-static/
src/umd

build-storybook.log

# Nx cache
.nx/cache