.ObservationCard {
  max-width: 850px;

  &__submitter {
    background-color: var(--synapse-gray-light);
    padding: 10px 25px;
  }

  &__time {
    padding: 10px 25px;
    svg {
      color: var(--synapse-primary-action-color);
      padding-bottom: 4px;
      margin-right: 5px;
    }
  }
  &__text {
    padding: 10px 25px;
    max-width: 750px;
    font-size: 16px;
    color: var(--synapse-gray-regular);
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px 15px 35px 25px;
  }
  &__doi {
    padding: 10px 25px;
  }
}
