.SRC-arrow-icon,
.Icon-Plus,
.Icon-Minus,
.Icon-Copy.primary {
  path {
    fill: var(--synapse-primary-action-color);
  }
}
.Icon-Copy {
  path {
    fill: #dcdcdc;
  }
}
.SRC-java-icon,
.SRC-r-icon,
.SRC-python-icon {
  path {
    fill: var(--synapse-primary-500);
  }
}

.SRC-terminal-icon > rect.outer {
  fill: var(--synapse-primary-500);
}

.styled-svg-wrapper {
  span {
    display: inline-flex;
    vertical-align: middle;
  }
}

.icon-list {
  display: inline-block;
  path,
  circle {
    fill: currentColor;
  }
  .icon-svg-tooltip {
    text-align: center;
  }

  // for portal theme
  &.themed {
    path,
    circle {
      fill: var(--synapse-primary-500);
    }
    &.bg-circle {
      .styled-svg-wrapper {
        display: inline-flex;
        padding: 2px;
        background-color: color-mix(
          in srgb,
          var(--synapse-primary-500) 10%,
          transparent
        );
        border-radius: 50%;
        margin: 0 2px;
      }
    }
  }
}

.SRC-Sort-Icon-Active {
  padding: 2px;
  background-color: var(--synapse-primary-500);
  path {
    fill: white;
  }
}

.SRC-Sort-Icon-Inactive,
.Content-Copy-Icon {
  padding: 2px;

  path {
    fill: var(--synapse-primary-500);
  }
}

svg.HelpButton {
  color: var(--synapse-gray-600);
  cursor: pointer;
  font-size: 1.5em;
}

.SRC-color-warning {
  color: var(--synapse-warning);
}
