@use '@sage-bionetworks/synapse-portal-framework/src/style/variables' as Portal;

// Overrides for CSS variables defined in synapse-react-client/style/_variables.scss
:root {
  --synapse-button-text-transform: uppercase;
}

#footer,
#header {
  height: fit-content;
}

#header {
  position: relative;
  .header-text {
    position: absolute;
    top: 20%;
    min-height: 50%;
    height: fit-content;
    h2 {
      margin-bottom: 20px;
    }
    width: 60%;
    left: 10%;
    margin: 0px;
    padding: 25px;
    @media only screen and (max-width: 1200px) {
      top: 5%;
      width: 90%;
      left: 5%;
      height: 90%;
    }
  }
}

#footer {
  background: linear-gradient(263.11deg, #8bb4ce 2.14%, #3e7293 50.63%);
}

// Custom styling for detail page cards to make them wider
.CardDeck {
  &__Desktop {
    &--b2ai-detail-card {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: stretch;
      gap: 20px;
      padding-bottom: 50px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  &__Card {
    &--b2ai-detail-card {
      width: 100%;
      display: flex;
      min-height: 200px;
      flex-direction: row;
      box-shadow: none;
      background: #ffffff;
      margin: 0px;
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      padding: 20px;
    }
  }
}
