.evaluation-round-editor {
  .card-body {
    // even though all sides have the same padding,
    // the top looks like it is slightly less padded than the bottom
    // so we bump the top padding from default of 1.25rem to 1.75rem
    padding-top: 1.75rem;
  }

  input {
    width: 100%;
  }

  .alert {
    margin-bottom: 0;
  }

  h5 {
    font-weight: bold;
  }

  .round-status {
    .status {
      display: inline-flex;
      svg {
        height: 1rem;
        width: 1rem;
        margin-right: 0.7rem;
      }
    }

    .status-in-progress {
      color: var(--synapse-green-affirmative);
      .status {
        align-items: center;
      }
      span {
        line-height: 1rem;
      }
    }
    .status-completed {
      svg {
        color: var(--synapse-green-affirmative);
      }
      span {
        color: var(--synapse-gray-deemphasized);
      }
      .status {
        align-items: baseline;
      }
    }
    .status-not-yet-started {
      color: var(--synapse-gray-deemphasized);
    }
  }

  .max-submission-input-col {
    padding-right: 0;
  }

  .advanced-limits-grid {
    display: grid;
    // We need a fixed size for the add-button
    // or else the alignment will slightly change once the add-button disappears upon reaching the max number of rows
    grid-template-columns: [limit-type] 1fr [spacer] 30px [limit-input] 1.8fr [remove-button] 50px [add-button] 50px [end];
    grid-auto-rows: auto;
    row-gap: 1rem;
    column-gap: 8px;
    align-items: center;

    .form-group {
      // rely on grid's row gap instead of built-in bottom margin for spacing
      margin-bottom: 0;
    }

    .limit-type {
      grid-column-start: limit-type;
    }
    .limit-input {
      grid-column-start: limit-input;
    }
    .remove-button {
      grid-column-start: remove-button;
      justify-self: center;
    }
    .add-button {
      grid-column-start: add-button;
      justify-self: center;
    }
  }
}
