@use '@sage-bionetworks/synapse-portal-framework/src/style/variables' as Portal;
@use 'sass:color';

:root {
  --synapse-primary-action-color: #407ba0;
  --synapse-secondary-action-color: #407ba0;
}

#header {
  background-color: var(--synapse-primary-action-color);
}

#footer {
  color: var(--gray-800);
}

#footer a {
  color: var(--gray-800);
}

#footer > div:first-of-type {
  background-color: var(--synapse-footer-accent);
}

#footer > div:last-of-type {
  background-color: var(--synapse-footer-accent-dark);
}
