@use '@sage-bionetworks/synapse-portal-framework/src/style/variables' as Portal;
@use 'sass:color';

#header {
  background-color: Portal.$primary-action-color;
}

#footer {
  color: var(--gray-800);
}

#footer a {
  color: var(--gray-800);
}

#footer > div:first-of-type {
  background-color: #ffecca;
}

#footer > div:last-of-type {
  background-color: color.adjust(#ffecca, $lightness: -5%);
}
