@use '@sage-bionetworks/synapse-portal-framework/src/style/variables' with (
  $primary-action-color: #407ba0,
  $secondary-action-color: #407ba0,
  $header-url: 'config/style/header.svg',
  $footer-url: 'config/style/dna.svg'
);
