:root {
  --synapse-primary-action-color: #38568e;
  --synapse-secondary-action-color: #47337d;
}

#header,
#footer {
  background-blend-mode: multiply;
}

.nav-logo {
  height: 65px !important;
}

.CSBC-ThemesPlot {
  margin-bottom: 63px;
}

.Programs__Card__header__info__link {
  a {
    visibility: hidden;
  }
  a:after {
    content: 'Visit the NCI Webpage';
    visibility: visible;
    display: block;
    margin-top: -20px;
  }
}
.cancercomplexity-consortia {
  .Programs__Card {
    width: 32%;
    height: 375px;
    margin-left: 5px;
  }
}

.Goals {
  &__Card {
    &__header {
      background: unset;
      min-height: unset;
      padding-top: 20px;
      &__title {
        color: #5bb0b5;
      }
      &__count {
        border: 1px solid #5bb0b5;
      }
    }
  }
}
