@use '../../style/abstracts/variables' as SrcVariables;
@use 'sass:map';

.BasePortalCard__root:global(.MuiCard-root) {
  position: relative;
}

.BasePortalCard__contentBelow {
  margin-top: 15px;
}

.BasePortalCard__content:global(.MuiCardContent-root):last-child {
  padding: 0;
}

.BasePortalCard__media:global(.MuiCardMedia-root) {
  height: 50%;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    height: 60%;
  }
}

.small {
  width: 100%;
  height: 250px;
  min-height: 150px;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    width: 250px;
  }
}

.medium {
  width: 100%;
  height: 400px;
  min-height: 200px;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    width: 400px;
  }
}

.large {
  width: 100%;
  height: 500px;
  min-height: 300px;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    width: 600px;
  }
}
