@use '../../style/abstracts/variables' as SrcVariables;
@use 'sass:map';

.BasePortalCard__root:global(.MuiCard-root) {
  position: relative;
}

.BasePortalCard__contentBelow {
  margin-top: 15px;
}

.BasePortalCard__content:global(.MuiCardContent-root):last-child {
  padding: 0;
}

.BasePortalCard__media:global(.MuiCardMedia-root) {
  height: 60%;
}

.small {
  width: 250px;
  min-height: 150px;
}

.medium {
  width: 400px;
  height: 400px;
  min-height: 200px;
}

.large {
  width: 600px;
  height: 500px;
  min-height: 300px;
}
