@use 'sass:map';
@use 'synapse-react-client/style/abstracts/variables' as SrcVariables;

.FeaturedTeam {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

.FeaturedTeam__bkgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 8%;
  transform: scaleY(1.3);
  z-index: -1;
}

.FeaturedTeam__headerSection {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.FeaturedTeam__vectorsContainer {
  position: absolute;
  bottom: 55%;
  left: 7%;
  width: 90%;
  overflow-x: hidden;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    left: 8%;
    bottom: 15%;
  }
}

.FeaturedTeam__vectors {
  width: 100%;
}

.FeaturedTeam__title:global(.MuiTypography-root) {
  color: var(--synapse-black);
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 80px;
}

.FeaturedTeam__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 100%;
  padding: 35px 40px 60px 40px;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    flex-direction: row;
    align-items: flex-start;
    padding: 35px 100px 60px 100px;
  }
}

.FeaturedTeam__imageSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 0 0 50%;
}

.FeaturedTeam__image {
  width: 100%;
  height: 300px;
  object-fit: cover;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    height: 550px;
  }
}

.FeaturedTeam__caption:global(.MuiTypography-root) {
  line-height: 20px;
  color: var(--synapse-gray-900);
}

.FeaturedTeam__textSection :global(.markdown) p:not(:last-child) {
  color: var(--synapse-gray-900);
  margin-bottom: 20px;
}

.FeaturedTeam__textSection :global(.markdown) p:first-child {
  font-size: 24px;
  line-height: 28px;
}

.FeaturedTeam__textSection :global(.MuiButton-contained) {
  background-color: transparent !important;
  border: 1px solid;
  color: (--synapse-black) !important;
  box-shadow: none !important;
  margin: 0;
  padding: 3px;
  border-radius: 8px;
}

.FeaturedTeam__textSection :global(.MuiButton-contained):hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
