.AccountLevelBadge {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  max-width: 450px;
  &__iconContainer {
    align-self: start;
    margin-right: 10px;
  }
  &__body {
    &__userAccountLevel {
      font-size: 16px;
      font-weight: bold;
      line-height: 21px;
      margin-bottom: 3px;
    }
    &__accountLevelLabel {
    }
    &__moreInfoLink {
      font-weight: bold;
    }
  }
}
