.JsonSchemaFormContainer {
  .react-select-container > .form-control {
    height: 53.33px;
  }
  .form-group.rjsf-field-array {
    margin-bottom: 0px;
  }
  .form-control {
    height: unset;
  }
  .MuiTextField-root:not(.datetime-picker) {
    display: flex;
  }

  .LoadingPlaceholder {
    display: flex;
    margin: 60px auto;
  }

  .rjsf-array-item .LabelContainer {
    display: none !important;
  }

  .JsonSchemaForm {
    display: grid;
    // We can't rearrange the order of the HTML elements, so we use grid rows to reorder them.
    grid-template-rows: auto auto auto auto auto;
    margin-bottom: 15px;

    > .form-group {
      grid-row-start: 1;
    }

    > hr {
      grid-row-start: 4;
      width: 100%;
    }

    .row {
      padding: 0px 10px;
    }

    .rjsf-field-array > .field-description {
      margin-top: 0px;
      margin-bottom: 8px;
    }

    .rjsf-array-item {
      .field-description {
        display: none;
      }

      .HelpButton {
        display: none;
      }

      .form-control,
      .react-select-container {
        grid-row-start: widget;
      }

      div {
        grid-row-start: errors;
      }
    }

    .LabelContainer {
      display: flex;
      label {
        flex-grow: 1;
        span.required {
          color: var(--synapse-red-required);
          margin-left: 2px;
        }
      }
    }
    select {
      background-color: var(--synapse-gray-light);
    }

    .rjsf-field-array > .rjsf-array-item > label.form-label {
      display: none;
    }

    .HelpButton {
      float: right;
      margin: 0 0 0.5rem;
      cursor: pointer;
    }

    table.FieldDescriptionTable {
      tr {
        th,
        td {
          padding: 3px 0px;
          vertical-align: middle;

          .field-description {
            margin-bottom: 0;
          }
        }
        th {
          padding-right: 25px;
          font-weight: 400;
          color: var(--synapse-text-color-disabled);
        }
      }
    }
  }
}
