.bar-loader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 30px;
  width: 100%;
  .bar-background-color {
    background-color: var(--synapse-gray-400);
  }
  .bar-color {
    background-color: var(--synapse-tertiary-400);
  }
  .MuiLinearProgress-determinate {
    margin-bottom: 20px;
    border-radius: 6px;
    height: 10px;
    width: 180px;
  }
  > div {
    width: 30%;
  }
}
