@use '../abstracts/mixins' as SrcMixins;

.CardDeck {
  &__Desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;

    &--b2ai {
      gap: 40px;
    }

    &--cckp {
      gap: 20px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  &__Card {
    p {
      margin: 0px;
    }

    width: 23%;
    display: flex;
    min-height: 300px;
    flex-direction: column;
    box-shadow: var(--synapse-box-shadow-soft);
    background: #ffffff;
    margin: 5px;

    &--b2ai {
      box-shadow: none;
    }

    &--cckp {
      min-height: 356px;
    }

    &__header__image {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      &--b2ai {
        img {
          border-radius: 15px;
        }
      }
    }

    &__header {
      min-height: 75px;
      display: flex;
      align-items: center;
      padding-left: 25px;

      &--b2ai {
        padding-left: 0px;
      }

      &__icon {
        img {
          width: 50px;
          margin-right: 10px;
        }

        &--cckp {
          img {
            width: 30px;
          }
        }
      }

      p {
        @include SrcMixins.space-between;
        align-items: center;
        width: 100%;
        color: white;
      }

      &__info {
        a:hover,
        a:focus {
          text-decoration: none;
        }

        &__title {
          font-size: 18px;
          font-weight: bold;

          &--b2ai {
            color: #395979;
          }

          &--cckp {
            font-size: 20px;
            font-weight: 700;
            color: #5bb0b5;
          }
        }

        &__link a {
          color: #1a1c29;
        }
      }
    }

    &__summary {
      flex: 1;
      @include SrcMixins.side-padding;
      padding-bottom: 20px;
      @include SrcMixins.space-between;
      flex-direction: column;

      p {
        margin-bottom: 40px;
      }

      &--b2ai {
        padding: 0px;
        margin-bottom: 0px;
      }
    }
  }

  &__Mobile {
    @include SrcMixins.hv-center;

    &__Header {
      @include SrcMixins.hv-center;

      &__icon {
        img {
          width: auto;
          height: 50px;
          margin-right: 10px;
        }
      }

      &__Title {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
