@use '../abstracts/mixins' as SrcMixins;

.CertificationQuiz {
  @include SrcMixins.MuiTypographyTopMargins();
  .failBanner {
    background-color: red;
    color: white;
    padding: 8px;
  }

  &__container {
    padding: 10px;

    .help-button {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }

    .incorrectQuestion {
      color: #f44336;
    }

    .question-choice {
      font-weight: 400;
    }
  }
}
