.DatasetEditor {
  border: 1px solid var(--synapse-gray-300);
  .DatasetEditorTopBottomPanel {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
    width: 100%;
    height: 70px;
    background: #f9f9f9;
    align-items: center;
    padding: 15px 20px;

    .ItemCount {
      p {
        margin-bottom: 0;
      }
      margin-right: auto;
    }
  }
  .DatasetEditorTableContainer {
    width: 100%;
    overflow-x: auto;

    .DatasetEditorTable {
      tr {
        border-bottom: 1px solid var(--synapse-gray-300);
      }
      td > * {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
      }

      p {
        margin-bottom: unset;
      }
    }
  }
  .DatasetItemsEditorSkeleton {
    margin: 15px;
  }

  .NoItemsPlaceholder {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  select.form-control {
    margin-bottom: 0px;
    width: 130px;
  }
}

.EntityNameWithIconRenderer {
  text-overflow: ellipsis;
  white-space: nowrap;

  svg {
    margin-bottom: 3px;
  }
}

.EntityErrorRenderer {
  color: var(--synapse-warning);
  svg {
    font-size: large;
  }
}
