.ForumTable {
  &__top-level-control {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  .avatarContainer {
    display: inline-flex;
    margin: 0 2px;
    vertical-align: middle;
  }
}

.DiscussionThread {
  padding: 15px 30px;
  border: solid #ccc;
  border-width: 0.1em;
  border-radius: 0.4em;

  .control-container {
    float: right;
    margin-right: 24px;
  }
}

.reply-container {
  padding: 5px;
  margin-bottom: 5px;
  background-color: var(--synapse-gray-light);
  border: solid #ccc;
  border-width: 0.1em;
  border-radius: 0.4em;

  .message-body {
    padding: 6px 22px;
  }
}
.SubscribersModal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 4px;
}
