@use '../abstracts/variables' as SRC;
@use '../abstracts/mixins' as SRCMixins;
@use 'sass:map';

.DownloadListTableV2 {
  white-space: pre;

  .eligibileIcon {
    color: map.get(SRC.$colors, 'gray-800');
  }

  .ineligibileIcon {
    color: map.get(SRC.$colors, 'warning');
  }
  .ineligibleForPackaging > td:first-of-type {
    background-color: #f9f5e7;
  }
}

.sort {
  padding-left: 5px;
}

.Download-Link {
  &.v2 {
    #SHOW_DOWNLOAD_TOOLTIP {
      text-transform: none;
    }

    .download-cart-size {
      background-color: SRC.$secondary-action-color;
      color: white;
      border-radius: 8px;
      top: -9px;
      left: -2px;
      position: relative;
      padding: 0px 3px;
    }
  }
}
