@use '../abstracts/variables' as SRC;
@use '../abstracts/mixins' as SRCMixins;
@use 'sass:map';

table.DownloadListTableV2 {
  white-space: pre;

  .eligibileIcon {
    color: map.get(SRC.$colors, 'gray-800');
  }

  .ineligibileIcon {
    color: map.get(SRC.$colors, 'warning');
  }

  td.ineligibleForPackagingTd:first-child {
    background-color: #f9f5e7;
  }

  thead:first-child > tr:first-child {
    > th {
      min-width: 120px;

      &:first-child {
        border-right: none;
        min-width: unset;
      }

      &:nth-child(2) {
        border-left: none;
      }
    }
  }

  tbody tr > td:nth-child(2) {
    // file name column
    overflow-x: hidden;
    max-width: 570px;
    text-overflow: ellipsis;
  }

  // Floating (sticky) Action column
  @include SRCMixins.sticky-column();

  // Download List Table specific styles to the sticky column:
  tbody .stickyColumn .actionsContainer {
    color: map.get(SRC.$colors, 'gray-700'); // make all icons gray-700
    display: grid;
    grid-template-columns: repeat(3, 40px);

    * {
      justify-self: center;
    }

    .downloadItem {
      grid-column: 1 / span 1;
    }

    .programmaticAccessItem {
      grid-column: 2 / span 1;
    }

    .removeItem {
      grid-column: 3 / span 1;
    }
  }

  @include SRCMixins.sortable-table();
}

.sort {
  padding-left: 5px;
}

.Download-Link {
  &.v2 {
    #SHOW_DOWNLOAD_TOOLTIP {
      text-transform: none;
    }

    .download-cart-size {
      background-color: SRC.$secondary-action-color;
      color: white;
      border-radius: 8px;
      top: -9px;
      left: -2px;
      position: relative;
      padding: 0px 3px;
    }
  }
}
