.ElementWithTooltip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  line-height: 0px;

  svg {
    path {
      fill: var(--synapse-primary-action-color);
    }
  }
  &.dark-theme {
    svg {
      fill: var(--synapse-primary-action-color);
      color: var(--synapse-primary-action-color) !important;
      width: 18px;
      height: 18px;

      path {
        fill: var(--synapse-primary-action-color);
      }
    }
  }
}

button.ElementWithTooltip {
  &:active:focus,
  &:focus {
    outline: none;
  }
}
