.EntityBadge {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  &__Badge {
    margin: 1px;
    max-width: 16px;
    max-height: 16px;

    &.Unlink {
      color: var(--synapse-red-delete);
      cursor: pointer;
    }

    &.Valid {
      color: var(--synapse-green-affirmative);
    }
    &.Invalid {
      color: var(--synapse-yellow-warning);
    }
    &.Missing {
      color: var(--synapse-gray-deemphasized);
    }
  }
}
.EntityBadgeTooltip {
  table {
    table-layout: auto;
    word-break: break-all;
    white-space: normal;
    max-width: 350px;
    td {
      width: unset;
      padding: 4px;
    }
  }
  p {
    margin-top: 8px;
    text-align: center;
  }
}
