.ExpandableTableData {
  max-width: 250px;

  .SynapseTableCellContent {
    text-overflow: ellipsis;
  }

  &[aria-expanded='true'] {
    .SynapseTableCellContent {
      white-space: normal;
      overflow-wrap: break-word;
      overflow: hidden;
    }
  }

  &[aria-expanded='false'] {
    .SynapseTableCellContent {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__expandButton {
    float: right;
  }
}
