@use '../abstracts/variables' as SRC;

.FacetPlotsCard {
  overflow: hidden;

  &__title {
    font-size: 16px;
    font-weight: bold;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
  }
  &__description {
    padding: 10px 0px;
    min-height: 125px;
  }
  &__link {
    padding-top: 10px;
    font-weight: bold;
  }
  &__body {
    &__row {
      min-height: 130px;
    }
    &__facetname {
      text-align: center;
      font-weight: bold;
    }
    &__plot {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__legend {
      margin-top: 10px;
      width: 100%;
    }
    &__footer {
      display: flex;
      text-align: center;
      white-space: nowrap;
    }
    hr {
      margin: 33px 0px;
    }
  }
  @media (max-width: map-get(SRC.$breakpoints, 'medium')) {
    margin: 15px 0px;
  }
}
