.SynapseNavDrawerIsShowing .FullWidthAlertGlobal {
  --synapse-nav-drawer-width: 56px;
  width: calc(100vw - var(--synapse-nav-drawer-width));
  left: var(--synapse-nav-drawer-width);
  right: 0px;
  transform: none;
}
