@use '../abstracts/mixins' as SrcMixins;

.Goals {
  &__Card {
    p {
      margin: 0px !important;
    }
    display: flex;
    flex-direction: column;
    box-shadow: var(--synapse-box-shadow-soft);
    background: #ffffff;
    margin: 10px;
    &__header {
      min-height: 75px;
      @include SrcMixins.side-padding;
      background: var(--synapse-primary-action-color);
      background-size: cover !important;
      background-repeat: no-repeat !important;
      display: flex;
      justify-content: center;
      p {
        @include SrcMixins.space-between;
        align-items: center;
        width: 100%;
        color: white;
      }
      &__title {
        font-size: 18px;
        font-weight: bold;
      }
      &__count {
        border: 1px solid white;
        border-radius: 50%;
        @include SrcMixins.hv-center;
        min-height: 50px;
        min-width: 50px;
        padding: 5px;
      }
    }
    &__summary {
      flex: 1;
      @include SrcMixins.side-padding;
      padding-top: 20px;
      padding-bottom: 20px;
      @include SrcMixins.space-between;
      flex-direction: column;
      & > &__link {
        @include SrcMixins.hv-center;
        width: 120px;
        padding: 10px;
        margin-top: 20px;
        margin-left: 0px;
      }
    }
  }
  &__Mobile {
    @include SrcMixins.hv-center;
    &__Header {
      @include SrcMixins.hv-center;
      &__Count {
        @include SrcMixins.hv-center;
        border: 1px solid var(--synapse-primary-action-color);
        color: var(--synapse-primary-action-color);
        border-radius: 50%;
        min-height: 50px;
        min-width: 50px;
        padding: 3px;
        margin-right: 5px;
      }
      &__Title {
        font-weight: bold;
        font-size: 18px;
        margin-left: 5px;
      }
    }

    &__Content {
      & > &__Link {
        @include SrcMixins.hv-center;
        width: 120px;
        padding: 10px;
        margin-top: 20px;
        margin-left: 0px;
        &:hover {
          color: var(--synapse-white);
        }
      }
    }
  }
}
