@use '../abstracts/variables' as SRC;
@use '../abstracts/mixins' as SrcMixins;
@use 'sass:map';

.ReviewerDashboard {
  .Breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .Tabs {
    @include SrcMixins.underline-tabs();
    & {
      justify-content: flex-start;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    }

    .Tab {
      flex-grow: 0;
      height: 45px;
      padding-left: 30px;
      padding-right: 30px;

      display: flex;
      align-items: center;
      text-decoration: none !important;
    }
  }
  .TabContentContainer {
    margin: 20px 30px;
  }
}

.AccessApprovalsTable,
.AccessSubmissionTable {
  margin-top: 20px;
  .requester {
    font-style: italic;
    color: map.get(SRC.$colors, 'gray-700') !important;
  }
  .InlineLabel,
  .expired {
    color: map.get(SRC.$colors, 'gray-700');
  }
  .non-expire {
    color: map.get(SRC.$colors, 'gray-700');
    font-style: italic;
  }
}

.AccessRequirementDashboard,
.AccessSubmissionDashboard,
.UserHistoryDashboard {
  @include SrcMixins.MuiTypographyTopMargins();

  .InputPanel {
    display: flex;
    justify-content: space-between;
    > * {
      flex: 0 0 32%;
    }

    input {
      margin-bottom: 0;
    }

    label {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
}

.UserHistoryDashboard {
  .InputPanel {
    // UserHistoryDashboard only has two inputs, so use flex-start instead of space-between
    justify-content: flex-start;
    gap: 10px;
  }
}
