@use '../abstracts/mixins' as SrcMixins;

.MarkdownEditor {
  .MarkdownEditorControls {
    @media (min-width: 768px) {
      display: flex;
    }
    width: 100%;
    .MarkdownEditorControlsToolbar {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
      margin: auto 0 auto auto;
      @media (max-width: 768px) {
        margin: 16px 0;
      }
    }
  }
}
