@use '../abstracts/mixins' as SrcMixins;

.Programs {
  &__Desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 50px;
  }

  &__Card {
    p {
      margin: 0px;
    }

    width: 23%;
    display: flex;
    min-height: 300px;
    flex-direction: column;
    box-shadow: var(--synapse-box-shadow-soft);
    background: #ffffff;
    margin: 5px;

    &__header__image img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    &__header {
      min-height: 75px;
      @include SrcMixins.side-padding();
      background: var(--synapse-primary-action-color);
      display: flex;
      align-items: center;

      &__icon img {
        width: 50px;
      }

      p {
        @include SrcMixins.space-between();
        align-items: center;
        width: 100%;
        color: white;
      }

      &__info {
        margin-left: 10px;

        a:hover,
        a:focus {
          text-decoration: none;
        }

        &__title {
          font-size: 18px;
          font-weight: bold;
        }

        &__link a {
          color: #1a1c29;
        }
      }
    }

    &__summary {
      flex: 1;
      @include SrcMixins.side-padding;
      padding-top: 20px;
      padding-bottom: 20px;
      @include SrcMixins.space-between;
      flex-direction: column;
    }
  }

  &__Mobile {
    @include SrcMixins.hv-center;

    &__Header {
      @include SrcMixins.hv-center;

      .iconImg {
        width: 40px;
      }

      &__Title {
        font-weight: bold;
        font-size: 18px;
        margin-left: 10px;
      }
    }
  }
}
