@use '../abstracts/variables' as SRC;
@use 'sass:map';

.QueryWrapperPlotNav {
  display: grid;
  position: relative;

  @media (min-width: map-get(SRC.$breakpoints, 'medium')) {
    grid-template-columns: 23% 75%;
    grid-column-gap: 2%;

    // by default, children take up the full row
    > * {
      grid-column: 1 / span 2;
    }

    .ErrorBannerWrapper {
      grid-column: 1 / span 2;
    }

    // column (depends on if we are showing facet filters)
    &.isShowingFacetFilters {
      .FacetFilterControls {
        grid-column: 1 / span 1;
        grid-row: 3 / span 100;
      }
      .download-confirmation,
      .PlotsContainer,
      .QueryWrapperFullTextSearchInput,
      .QueryWrapperSearchInput,
      .QueryWrapperSqlEditorInput,
      .FilterAndView,
      .SynapsePlots {
        grid-column: 2 / span 1;
      }

      .TopLevelControls,
      .TotalQueryResults {
        grid-column: 1 / span 2;
      }

      .TotalQueryResults {
        margin-left: 0;
      }
    }
  }

  &.hasSelectedRows {
    margin-bottom: 100px;
  }

  // row
  .TopLevelControls {
    grid-row: 1 / span 1;
  }
  .TotalQueryResults {
    grid-row: 2 / span 1;
  }
  .download-confirmation {
    grid-row: 3 / span 1;
  }
  .QueryWrapperFullTextSearchInput,
  .QueryWrapperSearchInput {
    grid-row: 4 / span 1;
    .MuiCollapse-entered {
      margin: 5px 0px;
    }
  }
  .QueryWrapperSqlEditorInput {
    grid-row: 5 / span 1;
    .MuiCollapse-entered {
      margin: 5px 0px;
    }
  }
  .ErrorBannerWrapper {
    grid-row: 6 / span 1;
  }
  // This is the placement for mobile.  See above for desktop position
  // (when showing these facet filters we render a 2 column layout)
  .FacetFilterControls {
    grid-row: 7 / span 1;
  }
  .PlotsContainer {
    grid-row: 8 / span 1;
  }
  .FilterAndView {
    grid-row: 9 / span 1;
  }

  &.isHidingFacetFilters {
    .FacetFilterControls {
      grid-column: 1 / span 1;
      > * {
        display: none;
      }
    }
    .FilterAndView {
      margin-top: 10px;
    }
  }

  .QueryWrapperTextInput {
    // PORTALS-1856: z-index greater than the Show All Graphs button (500)
    z-index: 600;
  }

  .TotalQueryResults.hasFilters {
    background-color: map.get(SRC.$colors, 'gray-100');
    border-bottom: 1px solid map.get(SRC.$colors, 'gray-300');
    padding-left: 15px;
    padding-bottom: 13px;
  }
  .PlotsContainer,
  .SynapsePlots {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .SRC-portalCard:first-child {
    margin-top: 0px;
  }
  table {
    &.grip-flex {
      width: 100% !important; // Override !important from js library
      table-layout: auto;
    }
    .direct-download {
      text-align: center;
    }
  }

  .ErrorBannerWrapper,
  .download-confirmation {
    margin-top: 8px;
  }
}

.TopLevelControls {
  > * {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 10px 10px 15px;
    p {
      margin-top: 0px;
    }
  }
  background-color: map.get(SRC.$colors, 'gray-200');
  &__showhidefacetfilters {
    display: none;
  }
  &__querycount {
    display: inline-flex;
    align-items: center;
  }
  &__actions {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    .ElementWithTooltip {
      padding: 6px;
      margin: 0;
      border: 0;
      border-radius: 0;

      &:active:focus,
      &:focus {
        outline: none;
      }

      // icons on the top level control bar should have total area 36x36 (26px dim + 10px padding)
      svg {
        width: 26px;
        height: 26px;
      }
    }
  }
}
