.SubmissionPage {
  .ButtonContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
    button {
      font-size: 16px;
      flex-grow: 1;
      flex-basis: 0;
    }
  }
  .SubmissionSummary {
    margin-bottom: 15px;
    .SubmissionSummaryGrid {
      display: grid;
      gap: 8px;
      // Grid column maximum is 50% minus 5px to account for the column gap
      grid-template-columns: minmax(auto, calc(50% - 5px)) minmax(
          auto,
          calc(50% - 5px)
        );

      .Key {
        grid-column: 1;
      }

      .Value {
        grid-column: 2;
      }

      .DataAccessor {
        margin-top: 5px;
        margin-bottom: 3px;
      }
    }
  }
  ul {
    padding-left: 25px;
    li {
      margin-top: 5px;
    }
  }

  .AccessRequirementWikiContainer {
    background: var(--synapse-gray-100);
    border: 1px solid #dfe2e6;

    .AccessRequirementWikiContent {
      margin: 40px;
    }
  }
}
