@use '../abstracts/mixins' as SRC_Mixins;

.SynapseNavDrawer {
  color: white;
  .synapseIcon {
    padding: 16px 9px;
    display: block;
  }
  .SynapseNavDrawerMenu {
    .MuiListItemButton-root:hover,
    .Mui-selected {
      border-left: 7px solid var(--synapse-secondary-action-color);
      padding-left: 9px;
    }
    &.tempDrawerOpen .MuiPaper-root {
      z-index: 1500;
    }
    // default z-index for drawer is 1200, but we need this to be behind other modals in the app.
    .MuiPaper-root {
      z-index: 100;
    }
    .filler {
      flex-grow: 1;
    }
  }
  .MuiListItemButton-root {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .MuiPaper-root {
    background-color: #2e4761;
    color: white;
  }
  .MuiDrawer-paperAnchorDockedLeft {
    border-right: none;
  }
}
.SynapseNavContentDrawer {
  .synapseLogoNameContainer {
    padding: 25px 0px 16px 5px;
  }
  .MuiTextField-root {
    margin-top: 30px;
  }
  .header {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
  .linkList {
    margin-top: 15px;
    > a {
      display: block;
      padding: 15px 0px;
      font-size: 16px;
      font-weight: 900;
      line-height: 20px;
      letter-spacing: 1px;
    }
  }
  .navContentContainer {
    padding: 25px 46px;
  }
  .MuiPaper-root {
    left: 53px;
    width: 350px;
    background-color: #2e4761;
    color: white;
  }
  .projectHeader {
    display: inline-block;
  }
  .createProjectLink {
    float: right;
    @include SRC_Mixins.ignoreLink;
  }
}
