@use 'sass:color';
@use 'sass:map';
@use 'variables' as v;

:root {
  --synapse-footer-accent: #{v.$footer-accent};
  --synapse-footer-accent-dark: #{v.$footer-accent-dark};

  --synapse-header-height: 75px;
  --synapse-banner-height: 47px;

  --synapse-completeness-excellent: #88c48a;
  --synapse-completeness-good: #b0d982;
  --synapse-completeness-fair: #fbda79;
  --synapse-completeness-poor: #f6b260;
  --synapse-completeness-minimal: #ed8e87;
}
