@use 'sass:color';
@use 'sass:map';
@use 'variables' as v;

:root {
  --synapse-footer-accent: #{v.$footer-accent};
  --synapse-footer-accent-dark: #{v.$footer-accent-dark};

  --synapse-header-height: 75px;
  --synapse-banner-height: 47px;
}
