.ToggleSynapseObjects {
  margin-top: 30px;
  position: relative;
  .reactSwitchContainer {
    position: absolute;
    right: 0px;
    margin-top: -54px;
    color: var(--synapse-primary-action-color);
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .unselected {
    color: var(--synapse-gray-600);
  }
}
