@use './variables' as Portal;
@use './cssVariables';

@use 'synapse-react-client/style/main.scss';

@use 'synapse-react-client/template_style/Index.scss';
@use './components/csbc-home-page/all.scss';

@use 'Core';
@use 'Markdown';
@use 'Navbar';
@use 'RedirectDialog';
@use 'ToggleSynapseObjects';
@use './components/NFBrowseToolsPage';
@use './components/DetailsPage';
@use './components/_ARKWelcomePage';
@use './components/challenges/_challenges';
