@use 'sass:map';
@use 'synapse-react-client/style/abstracts/variables' as SrcVariables;

:root:root {
  --synapse-primary-action-color: #4d5491;
  --synapse-secondary-action-color: #4d5491;
}

#header,
#footer {
  background-color: var(--synapse-primary-action-color);
}

.SRC-portalCard a {
  color: var(--synapse-primary-action-color) !important;
}

.SRC-primary-background-color-border-left {
  border-left-color: var(--synapse-primary-action-color) !important;
}
.SRC-mailchimpSubscribeContainer {
  button {
    background-color: var(--synapse-primary-action-color) !important;
  }
}

footer {
  img.nav-logo {
    width: 250px;
  }
}

.stop-ad-home-page {
  margin-top: 20px;
}

#home-link {
  @media (max-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    font-size: 18px;
  }
}
