$sidebar-text-primary: #616972;
$sidebar-property-title-color: #747d88;
$sidebar-property-value-color: #4d535a;
@use 'sass:map';
@use '../../style/abstracts/variables' as SrcVariables;

.panel {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    align-items: flex-end;
  }
}

.content {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0 0 32px;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    margin-top: 40px;
    width: 320px;
    padding: 0 32px 0 0;
  }
}

.sidebarHeader:global(.MuiTypography-root) {
  font-size: 14px;
  color: $sidebar-text-primary;
  font-weight: 540;
  line-height: 20px; /* 142.857% */
}

.divider {
  margin-top: 8px;
  margin-bottom: 16px;
}

.propertyValue:global(.MuiTypography-root) {
  color: $sidebar-property-value-color;
  font-style: normal;
  font-weight: 440;
  line-height: 20px; /* 142.857% */
}

.propertyTitle:global(.MuiTypography-root) {
  color: $sidebar-property-title-color;
  font-size: 12px;
  line-height: 12px; /* 100% */
}

.propertiesContainer {
  padding: 12px 0;
  gap: 12px;
}

.propertyRow {
  gap: 4px;
}

.toggleButton:global(.MuiButtonBase-root) {
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: static;
  top: 0;
  right: 0;
  white-space: nowrap;
  margin: 10px 0 0 20px;
  align-self: flex-start;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    position: absolute;
    margin: 0 32px 0 0;
  }
}

.toggleButtonText:global(.MuiTypography-root) {
  color: $sidebar-text-primary;
  font-weight: 440;
  line-height: 20px; /* 142.857% */
}

.icon {
  color: $sidebar-text-primary;
}
