{
  "openapi": "3.0.0",
  "info": {
    "title": "FAIR API",
    "description": "FAIR API. The API is comprised of various components, documented below.",
    "version": "2.61.1"
  },
  "servers": [
    {
      "url": "https://fair.dap.c-path.org/api"
    }
  ],
  "tags": [
    {
      "name": "root",
      "description": "Root API Paths"
    },
    {
      "name": "audits",
      "description": "FAIR Audit API."
    },
    {
      "name": "cohorts",
      "description": "FAIR Cohort API for creating and querying cohort selections"
    },
    {
      "name": "collections",
      "description": "FAIR Collections API. Allows administration of dataset collections."
    },
    {
      "name": "datamodels",
      "description": "FAIR Data Models API"
    },
    {
      "name": "datasets",
      "description": "FAIR datasets API."
    },
    {
      "name": "datasourceproviders",
      "description": "FAIR Datasource Providers API"
    },
    {
      "name": "files",
      "description": "FAIR file transfers"
    },
    {
      "name": "metrics",
      "description": "FAIR Metrics API. Used for returning information about the data."
    },
    {
      "name": "notifications",
      "description": "FAIR Notifications API. Allows access to notifications driven by events in FAIR API"
    },
    {
      "name": "personalisation",
      "description": "FAIR Personalisation API. Serves custom UI styles, images and vocabulary terms."
    },
    {
      "name": "requests",
      "description": "FAIR Requests API for Data Access Requests. This allows creating / approving process instance requests against a Camunda process definition."
    },
    {
      "name": "roles",
      "description": "FAIR Roles API. Allows administration of user permissions."
    },
    {
      "name": "search",
      "description": "FAIR Search API for querying FAIR indexes. This allows searching and suggestions against FAIR catalogue and dictionary metadata. <br/>**Search Data Commons allows for unauthenticated guest access when turned on.**"
    },
    {
      "name": "selection",
      "description": "FAIR Cohort Selection API"
    },
    {
      "name": "tasks",
      "description": "FAIR Tasks API. Allows administration of dataset tasks."
    },
    {
      "name": "tokens",
      "description": "FAIR API long-life tokens"
    },
    {
      "name": "usergroups",
      "description": "API for querying FAIR user groups."
    },
    {
      "name": "users",
      "description": "FAIR Users API. API for querying FAIR users."
    },
    {
      "name": "workspaces",
      "description": "FAIR API for interacting with workspaces."
    }
  ],
  "paths": {
    "/health/": {
      "get": {
        "tags": ["root"],
        "summary": "Health check for FAIR API",
        "description": "Displays Release version, along with status of database and search service",
        "responses": {
          "200": {
            "description": "Returns health check information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string",
                      "example": 1.5
                    },
                    "database": {
                      "type": "boolean",
                      "example": true
                    },
                    "search": {
                      "type": "boolean",
                      "example": true
                    },
                    "files": {
                      "type": "boolean",
                      "example": true
                    },
                    "workflows": {
                      "type": "boolean",
                      "example": true
                    },
                    "queues": {
                      "type": "boolean",
                      "example": true
                    },
                    "workers": {
                      "type": "number",
                      "example": 11
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audits": {
      "get": {
        "tags": ["audits"],
        "summary": "Returns the audit for Azure Log Analytics.",
        "parameters": [
          {
            "name": "what",
            "in": "query",
            "description": "Filter by what",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userEmail",
            "in": "query",
            "description": "Filter by user_email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primaryEntity",
            "in": "query",
            "description": "Filter by primary_entity",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as",
            "in": "query",
            "description": "Filter by as",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Filter by user_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "when",
            "in": "query",
            "description": "Filter by when",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Field(s) to order by. Can accept a comma separated list of values.",
            "schema": {
              "type": "string",
              "default": null,
              "example": "when asc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of audits to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing Azure Log Analytics content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "$ref": "#/components/schemas/AuditList"
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      }
    },
    "/cohorts/": {
      "get": {
        "tags": ["cohorts"],
        "summary": "List all of your cohorts",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter by name or description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Field(s) to order by. Can accept a comma separated list of values.",
            "schema": {
              "type": "string",
              "default": null,
              "example": "name asc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of cohorts to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "private",
            "in": "query",
            "description": "Returns only private cohorts",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "assigned",
            "in": "query",
            "description": "Returns only cohorts that have been shared to the user",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "internal",
            "in": "query",
            "description": "Returns only non private cohorts",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "requestable",
            "in": "query",
            "description": "Return cohorts based on datasets with an assigned workflow where requests can be made",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing all cohort data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CohortListResponse"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      },
      "post": {
        "tags": ["cohorts"],
        "summary": "Create a new cohort for the authenticated user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortPostRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "An object was created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      }
    },
    "/cohorts/{code}": {
      "get": {
        "tags": ["cohorts"],
        "summary": "Get a specific cohort with `code`",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing cohort data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      },
      "patch": {
        "tags": ["cohorts"],
        "summary": "Update an existing cohort for the authenticated user",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      },
      "delete": {
        "tags": ["cohorts"],
        "summary": "Deletes a specific cohort with `code`",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Cohort deleted"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/cohorts/{code}/queries": {
      "get": {
        "tags": ["cohorts"],
        "summary": "Returns the queries for a cohort.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter by name or description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of queries to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing cohort query data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CohortQueryListResponse"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Queries not found"
          }
        }
      }
    },
    "/cohorts/{code}/status": {
      "get": {
        "tags": ["cohorts"],
        "summary": "Returns the status for a cohort.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing cohort status data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortStatus"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/cohorts/{code}/audit": {
      "get": {
        "tags": ["cohorts"],
        "summary": "Returns the audit for a cohort.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "what",
            "in": "query",
            "description": "Filter by what",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as",
            "in": "query",
            "description": "Filter by as",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Filter by user_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "when",
            "in": "query",
            "description": "Filter by when",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Field(s) to order by. Can accept a comma separated list of values.",
            "schema": {
              "type": "string",
              "default": null,
              "example": "when asc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of audits to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing Azure Log Analytics content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "$ref": "#/components/schemas/AuditList"
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      }
    },
    "/cohorts/{code}/users": {
      "get": {
        "tags": ["cohorts"],
        "summary": "Get all users from cohort `code`, ordered by last name first name uuid ascending",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter by first or last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of users to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Returns users with a given role",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignable",
            "in": "query",
            "description": "Returns users that could be invited to work on the cohort",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing cohort users data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CohortUser"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/cohorts/{code}/users/{uuid}": {
      "post": {
        "tags": ["cohorts"],
        "summary": "Create a new cohort user with minimal permissions",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "uuid",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "The user was added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortUser"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort or user not found"
          }
        }
      },
      "put": {
        "tags": ["cohorts"],
        "summary": "Update an existing cohort for the authenticated user",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "uuid",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortPermissions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortUser"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      },
      "delete": {
        "tags": ["cohorts"],
        "summary": "Remove a specific user by `uuid` from cohort `code`",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "uuid",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Cohort user removed"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort or user not found"
          }
        }
      }
    },
    "/cohorts/{code}/usergroups/{group_code}": {
      "post": {
        "tags": ["cohorts"],
        "summary": "Create a new cohort user group with minimal permissions",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "group_code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "The user group was added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortUsergroup"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort or user group not found"
          }
        }
      },
      "put": {
        "tags": ["cohorts"],
        "summary": "Update the permissions for an existing cohort user group",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "group_code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortPermissions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user group was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortUsergroup"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort or user group not found"
          },
          "422": {
            "description": "Cohort must have a member that can manage permissions"
          }
        }
      },
      "delete": {
        "tags": ["cohorts"],
        "summary": "Remove a specific user group by `group code` from cohort `code`",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "group_code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Cohort user group removed"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort or user group not found"
          },
          "422": {
            "description": "Cohort must have a member that can manage permissions"
          }
        }
      }
    },
    "/cohorts/{code}/permissions": {
      "get": {
        "tags": ["cohorts"],
        "summary": "Get current users permissions for a cohort",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing cohort permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortPermissions"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/cohorts/{code}/members": {
      "get": {
        "tags": ["cohorts"],
        "summary": "Get all users or user groups from cohorts `code`, ordered by name ascending",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter by name or email address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of users to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "assignable",
            "in": "query",
            "description": "Returns users that could be invited to work on the cohort",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Returns users with a given role name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "users",
            "in": "query",
            "description": "Returns users assigned to the cohort",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "usergroups",
            "in": "query",
            "description": "Returns user groups assigned to the cohort",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing cohort users or user groups data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CohortMember"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/cohorts/{code}/workspaces": {
      "get": {
        "tags": ["cohorts", "workspaces"],
        "summary": "List all primary and secondary workspaces that the cohort supports",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "description": "`code` or `id` of chort",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "location",
            "in": "query",
            "description": "Filter by location",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing all workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkspacesList"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort or Dataset not found"
          }
        }
      }
    },
    "/cohorts/{code}/workspaces-locations": {
      "get": {
        "tags": ["cohorts", "workspaces"],
        "summary": "List all workspace locations that the cohort supports",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "description": "`code` or `id` of cohort",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing all workspace locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkspacesLocationsList"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort or Dataset not found"
          }
        }
      }
    },
    "/cohorts/{code}/cohort-counts": {
      "post": {
        "tags": ["cohorts"],
        "summary": "Fetch summary counts for a cohort clause or query dictionary, inducing dictionary entity fields.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CohortQueryClauseCountsRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CohortQueryDictionaryCountsRequest"
                  }
                ]
              },
              "examples": {
                "clauseCount": {
                  "summary": "Get counts by clause",
                  "value": {
                    "clause_id": 1234
                  }
                },
                "dictionaryCount": {
                  "summary": "Get counts by dictionary in a query",
                  "value": {
                    "query_id": 5678,
                    "dictionary_code": "my-dictionary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cohort count data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortCountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/cohorts/{code}/datamodel": {
      "get": {
        "tags": ["cohorts"],
        "summary": "Returns the Data Model for a Cohort",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing the data model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataModelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/cohorts/{code}/datasource": {
      "get": {
        "tags": ["cohorts"],
        "summary": "Returns the Datasource Features for a Cohort",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing the datasource settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetDatasourceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/cohorts/{code}/visualisation/bar-chart": {
      "post": {
        "tags": ["cohorts"],
        "summary": "Fetch summary bar chart for a cohort query.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortQueryBarChartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cohort bar chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortBarChartResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/cohorts/{code}/visualisation/box-plot": {
      "post": {
        "tags": ["cohorts"],
        "summary": "Fetch summary box plot data for a cohort query.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortQueryBoxPlotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cohort box plot data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortBoxPlotResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/cohorts/{code}/visualisation/histogram": {
      "post": {
        "tags": ["cohorts"],
        "summary": "Fetch summary histogram data for a cohort query.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortQueryHistogramRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cohort histogram data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortHistogramResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Cohort not found"
          }
        }
      }
    },
    "/collections/": {
      "get": {
        "tags": ["collections"],
        "summary": "List all collections",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string to search against",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Field(s) to order by. Can accept a comma separated list of values.",
            "schema": {
              "type": "string",
              "default": null,
              "example": "name asc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of collections to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing collections information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionResponse"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    },
                    "additional": {
                      "$ref": "#/components/schemas/AdditionalListData"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      },
      "post": {
        "tags": ["collections"],
        "summary": "Post a new collection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "An object was created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      }
    },
    "/collections/{code}": {
      "get": {
        "tags": ["collections"],
        "summary": "Get a specific collection with `code`",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing collections data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      },
      "patch": {
        "tags": ["collections"],
        "summary": "Update a specific collection with `code`.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON structure containing collection data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      },
      "delete": {
        "tags": ["collections"],
        "summary": "Deletes a specific collection with `code`.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Collection deleted"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      }
    },
    "/collections/{code}/permissions": {
      "get": {
        "tags": ["collections"],
        "summary": "Get current user permissions for collection `code`",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing collection permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionPermissions"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      }
    },
    "/collections/{code}/members": {
      "get": {
        "tags": ["collections"],
        "summary": "Get all users or user groups from collection `code`, ordered by name ascending",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter by name or email address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of users to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "assignable",
            "in": "query",
            "description": "Returns users that could be invited to work on the collection",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Returns users with a given role name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "users",
            "in": "query",
            "description": "Returns users assigned to the collection",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "usergroups",
            "in": "query",
            "description": "Returns user groups assigned to the collection",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing collection users or user groups data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionMember"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      }
    },
    "/collections/{code}/users": {
      "get": {
        "tags": ["collections"],
        "summary": "Get all users from collection `code`, ordered by last name first name uuid ascending",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter by first or last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of users to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Returns users with a given role",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignable",
            "in": "query",
            "description": "Returns users that could be invited to work on the collection",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing collection users data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionUser"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      }
    },
    "/collections/{code}/users/{uuid}": {
      "post": {
        "tags": ["collections"],
        "summary": "Create a new collection user with minimal permissions",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "uuid",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "The user was added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionUserCreated"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection or user not found"
          }
        }
      },
      "put": {
        "tags": ["collections"],
        "summary": "Update an existing collection for the authenticated user",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "uuid",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionPermissions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionUser"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      },
      "delete": {
        "tags": ["collections"],
        "summary": "Remove a specific user by `uuid` from collection `code`",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "uuid",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Collection user removed"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection or user not found"
          }
        }
      }
    },
    "/collections/{code}/usergroups/{group_code}": {
      "post": {
        "tags": ["collections"],
        "summary": "Create a new collection user group with minimal permissions",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "group_code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "The user group was added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionUsergroup"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection or user group not found"
          }
        }
      },
      "put": {
        "tags": ["collections"],
        "summary": "Update the permissions for an existing collection user group",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "group_code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionPermissions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user group was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionUsergroup"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection or user group not found"
          },
          "422": {
            "description": "Collection must have a member that can manage permissions"
          }
        }
      },
      "delete": {
        "tags": ["collections"],
        "summary": "Remove a specific user group by `group code` from collection `code`",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "group_code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Collection user group removed"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection or user group not found"
          },
          "422": {
            "description": "Collection must have a member that can manage permissions"
          }
        }
      }
    },
    "/collections/{code}/audit": {
      "get": {
        "tags": ["collections"],
        "summary": "Returns the audit for a collection.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "what",
            "in": "query",
            "description": "Filter by what",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as",
            "in": "query",
            "description": "Filter by as",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Filter by user_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "when",
            "in": "query",
            "description": "Filter by when",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of audits to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing Azure Log Analytics content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "$ref": "#/components/schemas/AuditList"
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      }
    },
    "/collections/{code}/datasets": {
      "get": {
        "tags": ["collections"],
        "summary": "Returns the datasets for a collection.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string to search against",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Field(s) to order by. Can accept a comma separated list of values.",
            "schema": {
              "type": "string",
              "default": null,
              "example": "name asc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of datasets to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "requestable",
            "in": "query",
            "description": "Return datasets with an assigned workflow where requests can be made",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "queryable",
            "in": "query",
            "description": "Return datasets that allow cohort queries to be made",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "private",
            "in": "query",
            "description": "Returns only private datasets",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "assigned",
            "in": "query",
            "description": "Returns only datasets that have been shared to the user",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "internal",
            "in": "query",
            "description": "Return datasets are internally visible",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "public",
            "in": "query",
            "description": "Return datasets are publicly visible.  This filter is only available with public guest access",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hasDataStore",
            "in": "query",
            "description": "Returns datasets that have a corresponding data storage location",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hasNoDataStore",
            "in": "query",
            "description": "Returns datasets that do not have a corresponding data storage location",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "assignable",
            "in": "query",
            "description": "Returns only datasets that can be assigned to the collection by the user",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing a collection of datasets data and paging",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "$ref": "#/components/schemas/Datasets"
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      }
    },
    "/collections/{code}/datasets/{datasetCode}": {
      "post": {
        "tags": ["collections"],
        "summary": "Adds a dataset to a collection.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "datasetCode",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "The dataset was added to the collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionDatasetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection or Dataset not found"
          }
        }
      },
      "delete": {
        "tags": ["collections"],
        "summary": "Removes a dataset from a collection.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "datasetCode",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The dataset was removed from the collection"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection or Dataset not found"
          }
        }
      }
    },
    "/collections/{code}/logo": {
      "get": {
        "tags": ["collections"],
        "summary": "Returns the logo for a given collection",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Streamed image file content for the collection logo"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      },
      "post": {
        "tags": ["collections"],
        "summary": "Adds a logo image from a collection.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Collection logo saved successfully"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      },
      "delete": {
        "tags": ["collections"],
        "summary": "Removes a logo image from a collection.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Collection logo successfully deleted"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      }
    },
    "/datamodels/": {
      "get": {
        "tags": ["datamodels"],
        "summary": "List all of your data models",
        "parameters": [
          {
            "name": "enabled",
            "in": "query",
            "description": "Returns only data models that are enabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disabled",
            "in": "query",
            "description": "Returns only data models that are not enabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string to search against",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Field(s) to order by. Can accept a comma separated list of values.",
            "schema": {
              "type": "string",
              "default": null,
              "example": "name asc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of data models to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing summarised data model details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataModelListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      },
      "post": {
        "tags": ["datamodels"],
        "summary": "Post a new data model",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "omop",
                    "maxLength": 256
                  },
                  "name": {
                    "type": "string",
                    "example": "OMOP",
                    "maxLength": 250
                  },
                  "description": {
                    "type": "string",
                    "example": "Observational Medical Outcomes Partnership Common Data Model",
                    "maxLength": 4096
                  },
                  "enabled": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON structure containing summarised data model details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      }
    },
    "/datamodels/{code}": {
      "get": {
        "tags": ["datamodels"],
        "summary": "View chosen data model based on 'code'",
        "parameters": [
          {
            "$ref": "#/components/parameters/DataModelCode"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing the specific data model data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataModelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Data model not found"
          }
        }
      },
      "patch": {
        "tags": ["datamodels"],
        "summary": "Update enabled status of data model based on 'code'",
        "parameters": [
          {
            "$ref": "#/components/parameters/DataModelCode"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/DataModelSystemSchema"
                  },
                  {
                    "$ref": "#/components/schemas/DataModelNonSystemSchema"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON structure containing the specific data model data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Data model not found"
          }
        }
      },
      "delete": {
        "tags": ["datamodels"],
        "summary": "Delete data model based on 'code'",
        "parameters": [
          {
            "$ref": "#/components/parameters/DataModelCode"
          }
        ],
        "responses": {
          "204": {
            "description": "Data model deleted"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Data model not found"
          }
        }
      }
    },
    "/datamodels/{code}/audit": {
      "get": {
        "tags": ["datamodels"],
        "summary": "Returns the audit for a data model.",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "what",
            "in": "query",
            "description": "Filter by what",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as",
            "in": "query",
            "description": "Filter by as",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Filter by user_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "when",
            "in": "query",
            "description": "Filter by when",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Field(s) to order by. Can accept a comma separated list of values.",
            "schema": {
              "type": "string",
              "default": null,
              "example": "when asc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of audits to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing Azure Log Analytics content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "$ref": "#/components/schemas/AuditList"
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Data model not found"
          }
        }
      }
    },
    "/datamodels/{code}/validations": {
      "get": {
        "tags": ["datamodels"],
        "summary": "List all validations for a data model",
        "parameters": [
          {
            "$ref": "#/components/parameters/DataModelCode"
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "Returns only data models that are enabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disabled",
            "in": "query",
            "description": "Returns only data models that are not enabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string to search against",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Field(s) to order by. Can accept a comma separated list of values.",
            "schema": {
              "type": "string",
              "default": null,
              "example": "name asc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of data models to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing summarised data model validation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataModelValidationListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      },
      "post": {
        "tags": ["datamodels"],
        "summary": "Post a new data model validation",
        "parameters": [
          {
            "$ref": "#/components/parameters/DataModelCode"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "priority", "validation"],
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "gold",
                    "maxLength": 256
                  },
                  "name": {
                    "type": "string",
                    "example": "Gold",
                    "maxLength": 250
                  },
                  "description": {
                    "type": "string",
                    "example": "Compliant to a high degree",
                    "maxLength": 4096
                  },
                  "enabled": {
                    "type": "boolean",
                    "default": false
                  },
                  "priority": {
                    "type": "integer"
                  },
                  "validation": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON structure containing summarised data model validation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataModelValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      }
    },
    "/datamodels/{code}/validations/{data_model_validation_code}": {
      "get": {
        "tags": ["datamodels"],
        "summary": "View chosen validation for data model based on 'code'",
        "parameters": [
          {
            "$ref": "#/components/parameters/DataModelCode"
          },
          {
            "$ref": "#/components/parameters/DataModelValidationCode"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing the specific data model validation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataModelValidationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Data model or Validation not found"
          }
        }
      },
      "patch": {
        "tags": ["datamodels"],
        "summary": "Update data model based on 'code'",
        "parameters": [
          {
            "$ref": "#/components/parameters/DataModelCode"
          },
          {
            "$ref": "#/components/parameters/DataModelValidationCode"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/DataModelValidationSystemSchema"
                  },
                  {
                    "$ref": "#/components/schemas/DataModelValidationNonSystemSchema"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON structure containing the specific data model validation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataModelValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "A validation error occurred"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Data model or validation not found"
          }
        }
      },
      "delete": {
        "tags": ["datamodels"],
        "summary": "Delete data model validation based on 'code'",
        "parameters": [
          {
            "$ref": "#/components/parameters/DataModelCode"
          },
          {
            "$ref": "#/components/parameters/DataModelValidationCode"
          }
        ],
        "responses": {
          "204": {
            "description": "Data model validation deleted"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          },
          "404": {
            "description": "Data model or validation not found"
          }
        }
      }
    },
    "/catalogues/": {
      "get": {
        "tags": ["datasets"],
        "summary": "List all catalogues",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of catalogues to return",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing all catalogue data as defined by the catalogue definition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "The catalogues returned from query",
                      "example": [
                        {
                          "id": 237,
                          "name": "Absenteeism",
                          "code": "absenteeism",
                          "metadata": {
                            "title": "Absenteeism",
                            "description": "Researchers interested in the absenteeism from school",
                            "language": ["en"],
                            "creator": "Brian Doe",
                            "contactPoint": "bd@gmail.com",
                            "publisher": {
                              "name": "openintro",
                              "url": "https://www.openint.org"
                            },
                            "accessRights": "private",
                            "identifier": null,
                            "rights": null,
                            "keyword": ["absenteeism", "school"],
                            "relation": [],
                            "license": "https://creativecommons.org/licenses/by/3.0/",
                            "versionInfo": "1"
                          },
                          "created_at": "2020-09-04T09:46:15.773Z",
                          "updated_at": "2020-09-04T09:46:15.773Z",
                          "dataset_id": 237
                        },
                        {
                          "id": 238,
                          "name": "Athletes",
                          "code": "athletes",
                          "metadata": {
                            "title": "Athletes",
                            "description": "Researchers interested in the athlete performance",
                            "language": ["en"],
                            "creator": "Brian Doe",
                            "contactPoint": "bd@gmail.com",
                            "publisher": {
                              "name": "openintro",
                              "url": "https://www.openint.org"
                            },
                            "accessRights": "private",
                            "identifier": null,
                            "rights": null,
                            "keyword": ["athlete", "performance"],
                            "relation": [],
                            "license": "https://creativecommons.org/licenses/by/3.0/",
                            "versionInfo": "1"
                          },
                          "created_at": "2020-09-04T09:46:15.773Z",
                          "updated_at": "2020-09-04T09:46:15.773Z",
                          "dataset_id": 238
                        }
                      ]
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    },
                    "additional": {
                      "$ref": "#/components/schemas/AdditionalListData"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      }
    },
    "/catalogues/{code}": {
      "get": {
        "tags": ["datasets"],
        "summary": "Get a specific catalogue with `code` based on the catalogue definition",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON structure containing catalogue data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Catalogue"
                },
                "example": {
                  "id": 237,
                  "name": "Absenteeism",
                  "code": "absenteeism",
                  "metadata": {
                    "title": "Absenteeism",
                    "description": "Researchers interested in the absenteeism from school",
                    "language": ["en"],
                    "creator": "Brian Doe",
                    "contactPoint": "bd@gmail.com",
                    "publisher": {
                      "name": "openintro",
                      "url": "https://www.openint.org"
                    },
                    "accessRights": "private",
                    "identifier": null,
                    "rights": null,
                    "keyword": ["absenteeism", "school"],
                    "relation": [],
                    "license": "https://creativecommons.org/licenses/by/3.0/",
                    "versionInfo": "1"
                  },
                  "created_at": "2020-09-04T09:46:15.773Z",
                  "updated_at": "2020-09-04T09:46:15.773Z",
                  "dataset_id": 237
                }
              }
            }
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Authorisation Error"
          }
        }
      },
      "patch": {
        "tags": ["datasets"],
        "summary": "Patch a specific catalogue using `code` against the associated catalogue definition",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Catalogue"
              },
              "example": {
                "title": "Absenteeism",
                "description": "This is the updated description."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON structure containing catalogue data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "id": 237,
                    "name": "Absenteeism",
                    "code": "absenteeism",
                    "metadata": {
                      "title": "Absenteeism",
                      "description": "This is the updated description.",
                      "language": ["en"],
                      "creator": "John Doe",
                      "contactPoint": "jonh_doe@email.com",
                      "publisher": {
                        "name": "Frank Wells",
                        "url": "https://www.johnwells.org/"
                      },
                      "accessRights": "private",
                      "identifier": null,
                      "rights": null,
[...]
