@use '../../abstracts/variables' as SRC;
@use 'sass:color';

.EnumFacetFilter {
  --input-icon-margin: 5px;

  &__dropdown_menu {
    overflow-y: auto;
    max-height: 300px;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    max-width: 300px;

    .EnumFacetFilter__checkboxContainer {
      cursor: pointer;
    }
    .EnumFacetFilter__noMatch,
    .EnumFacetFilter__checkboxContainer,
    .EnumFacetFilter__checkboxContainer--forAll {
      padding: 2px 16px;
    }

    .EnumFacetFilter__checkboxContainer,
    .EnumFacetFilter__checkboxContainer--forAll {
      transition: background-color 200ms ease-in-out;
      margin: 0px;
      .checkbox,
      .checkbox-focused {
        margin: 5px 0px;
      }
    }

    .EnumFacetFilter__checkboxContainer:hover {
      background-color: var(--synapse-primary-action-color-alpha-10);
    }
  }
  &__checkboxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }

    &--forAll {
      border-bottom: dotted 1px var(--synapse-border-color-gray);
      padding: 0;
    }
  }

  &__checkAll {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__closeSearch {
    left: var(--input-icon-margin);
  }

  &__resetSearch {
    right: var(--input-icon-margin);
  }

  label {
    margin-top: 3px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
  }

  &__showMoreFacetsLabel {
    margin-left: 25px;
  }

  &__showMoreFacetsBtn {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
    color: var(--synapse-primary-action-color) !important;

    &:hover {
      color: var(--synapse-primary-action-color) !important;
      text-decoration: underline;
    }
  }

  &__showMoreFacetsCount {
    align-self: center;
  }

  &__count {
    margin-left: 10px;
    align-self: center;
    color: var(--synapse-gray-deemphasized);
  }

  &__noMatch {
    margin-top: 10px;
  }

  button {
    color: var(--synapse-primary-action-color);
  }
}

.EnumFacetFilter.EnumFacetFilterSelect.dropdown {
  button.dropdown-toggle {
    width: 200px;
  }
}
