$icon-size: 14px; // component-specific variable

.FacetFilterHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--synapse-border-color-gray);
  margin-bottom: 8px;
  margin-top: 20px;

  &__label {
    font-weight: bold;
  }

  &__collapseToggleBtn {
    margin: 0;
    padding: 0;
    line-height: 14px;
    font-size: 18px;
    color: var(--synapse-primary-action-color) !important;

    &:hover {
      color: var(--synapse-primary-action-color) !important;
      text-decoration: underline;
    }

    .icon-plus,
    .icon-minus {
      width: $icon-size;
      height: $icon-size;
      vertical-align: text-top;
    }
  }
}
