.Chip {
  border-radius: var(--synapse-button-border-radius);
  padding: 4px 6px;
  margin: 4px 4px 4px 0;
  &:hover {
    background-color: var(--synapse-secondary-100);
  }
  &:active {
    background-color: var(--synapse-secondary-200);
  }
}
.Checked {
  color: #ffffff;
  background-color: var(--synapse-secondary-action-color);
  &:hover {
    background-color: var(--synapse-secondary-700);
  }
  &:active {
    background-color: var(--synapse-secondary-600);
  }
}
