.SynapsePlots {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4%;

  > .SynapsePlot {
    flex-grow: 1;
    flex-basis: 45%;
    // Hack around Plotly.  If modebar is hidden, it still takes up space for some reason.
    // Move plot up (closer to title), and make sure the title is on top.
    .plot-container {
      margin-top: -40px;
    }
    p {
      position: relative;
      z-index: 1000;
    }
  }
}
