// Load variable_overrides first, so correct values for variables will be applied to the rest of the styles
@use './config/style/variable_overrides';

@use '@sage-bionetworks/synapse-portal-framework/src/style/App';

// style_overrides should be last to ensure its styles have highest priority
@use './config/style/style_overrides';

// Add the scoped D4D styles
.d4d-styles {
  @import 'assets/d4d/d4d';
}
