@use '../style/main';

@use '../template_style/Index';

// Storybook theme colors - these override the defaults in SRC's :root
:root {
  --synapse-primary-action-color: #395979;
  --synapse-secondary-action-color: #469285;
}
