@use 'sass:map';

@use '../style/main' with (
  $primary-action-color: #395979,
  $secondary-action-color: #469285,
  $primary-bgcolor-rgba: rgba(64, 123, 160, 0.03)
);

@use '../template_style/Index';
