#header,
#footer {
  background-color: var(--synapse-primary-action-color);
  background-blend-mode: multiply;
}

.SRC-portalCard .SRC-imageThumbnail {
  align-items: flex-start;
  margin-left: 0;
}

.nf-partners-section .SRC-portalCard .SRC-imageThumbnail {
  margin-top: calc(var(--baseline-grid) * 1.5);
}

.nf-initiatives-section .SRC-portalCard .SRC-portalCardMain {
  margin-left: 0;
}
