:root {
  --synapse-primary-action-color: #125e81;
  --synapse-secondary-action-color: #404b63;
}

#header,
#footer {
  background-color: var(--synapse-primary-action-color);
  background-blend-mode: multiply;
}
.InitiativeCardList {
  .SRC-portalCardMain {
    margin-left: 0px;
  }
}
