@use '@sage-bionetworks/synapse-portal-framework/src/style/variables' with (
  $primary-action-color: #125e81,
  $secondary-action-color: #404b63,
  $header-url: 'config/style/molecule-back.svg',
  $footer-url: ''
);
