.adknowledgeTitleSection {
  display: flex;
  justify-content: center;
}

.adknowledgeProgramsContainer {
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}

.adknowledgeProgramsButton {
  align-self: center;
}
