@use 'synapse-react-client/style/abstracts/variables' as SrcVariables;
@use 'sass:map';

@mixin root() {
  position: relative;
  margin-top: 120px;
}

@mixin sectionTitle() {
  color: var(--black);
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
}

@mixin sectionContainer() {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 16px;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'large')) {
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 100px 20px 100px;
  }
}

@mixin imagePosition {
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
}
