.root {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.metricsContainer {
  display: flex;
  padding: 120px 60px 200px 60px;
  gap: 40px;
  justify-content: center;

  @media (min-width: 1024px) {
    flex-direction: row !important;
    padding: 120px 60px;
  }
}

.statContainer {
  align-items: center;
  gap: 8px;
  text-align: center;

  @media (min-width: 1024px) {
    max-width: 400px;
  }
}

.bkgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.statHeaderText:global(.MuiTypography-root) {
  color: white;
  font-size: 48px;
  line-height: 56px;

  @media (min-width: 1024px) {
    font-size: 96px;
    line-height: 80px;
  }
}

.statDescriptionText:global(.MuiTypography-root) {
  color: var(--gray-900);
}

.statLabelText:global(.MuiTypography-root) {
  color: var(--gray-900);
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
