@use 'sass:map';
@use 'synapse-react-client/style/abstracts/variables' as SrcVariables;

.resultsExplorersContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    margin-top: 75px;
    flex-wrap: nowrap;
  }
}

.newsSection {
  position: relative;
  min-height: 500px;
  isolation: isolate;
}

.helpButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}

.AdkpButtonContainer {
  display: flex;
  justify-content: center;
}

.newsReleasesContent {
  display: flex;
  flex-direction: column;
  gap: 57px;
  margin-bottom: 12px;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    flex-direction: row;
  }
}

.newsReleasesContainer {
  padding: 60px 50px;
}
