@use 'sass:map';
@use 'synapse-react-client/style/abstracts/variables' as SrcVariables;

.resultsExplorersContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;

  @media (min-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    margin-top: 75px;
    flex-wrap: nowrap;
  }
}

.newsSection {
  position: relative;
  min-height: 500px;
  isolation: isolate;
}

.consortiaAndRepositoriesCards {
  :global(.SRC-portalCard) {
    border-radius: 5px;
    border: 1px solid var(--UI-Gray-400, #dfe2e6);
    background: var(--Colors-white, #fff);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    h3 {
      color: var(--adkp-accent-color);
      margin-top: 0 !important;
    }
  }
  :global(.SRC-imageThumbnail) {
    display: flex;
    align-items: center;
  }
  :global(.SRC-portalCard .SRC-cardContent .SRC-cardTitleArea--ctaRight) a {
    font-weight: 400;
  }
}

.helpButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}
