//////////////////////////////////////////////////////////////
// Synapse React Client (SRC) Custom scss                   //
// params: $primary-action-color                            //
//////////////////////////////////////////////////////////////
.SRC-primary-text-color {
  color: var(--synapse-primary-action-color) !important;
}
.SRC-primary-fill-color {
  fill: var(--synapse-primary-action-color);
}
.SRC-primary-stroke-color {
  stroke: var(--synapse-primary-action-color);
}
.SRC-primary-color-hover:hover * {
  color: var(--synapse-primary-action-color) !important;
  fill: var(--synapse-primary-action-color) !important;
}

.SRC-primary-background-color {
  background-color: var(--synapse-primary-action-color) !important;
}

.SRC-primary-background-color-border-left {
  border-left-color: var(--synapse-primary-action-color) !important;
}

%hoverFade {
  transition: all 400ms !important;
}

.SRC-primary-background-color-hover {
  &:hover,
  &[aria-expanded='true'] {
    background-color: var(--synapse-primary-action-color) !important;
    color: white !important;
    fill: white !important;
    * {
      background-color: var(--synapse-primary-action-color) !important;
      color: white !important;
    }
  }
}

.SRC-button-focus-primary-color {
  &:focus {
    outline-color: var(--synapse-primary-action-color);
    outline-style: auto;
    outline-width: 5px;
  }
}

.SRC-basicButton {
  border: none;
  background: none;
  color: var(--synapse-primary-action-color);
}

.SRC-mailchimpSubscribeContainer {
  padding: 29px 30px 20px 0px;
  border-bottom: 1px solid #dddddf;
  input {
    width: 100%;
    max-width: 570px;
    height: 45px;
    margin-top: 10px;
    padding-left: 8px;
  }
  button {
    display: block;
    margin-top: 20px;
    padding: 6px 25px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: var(--synapse-primary-action-color);
    color: white;
  }
}

:focus {
  outline-color: var(--synapse-primary-action-color);
}

.SRC-portalCard {
  .SRC-downloadData {
    background-color: var(--synapse-primary-action-color);
  }
}

.dropdown-menu.SRC-primary-color-hover-dropdown {
  a.dropdown-item:hover:not(.disabled) {
    background: var(--synapse-primary-action-color);
    color: white !important;
    text-decoration: none;
  }
  a.dropdown-item:hover:not(.disabled) * {
    background: var(--synapse-primary-action-color);
    color: white !important;
    text-decoration: none;
  }
}

.SRC-icon-fill {
  fill: var(--synapse-primary-action-color);
}

.SRC-portalCardHeader {
  .SRC-header-only-fill {
    fill: white;
  }
  .SRC-icon-fill {
    fill: white;
  }
}

.homepage-color-background {
  background-color: var(--synapse-primary-bgcolor-rgba);
  padding: 40px 0;
}

.SRC-secondary-text-color {
  color: var(--synapse-secondary-action-color);
}
