.platformIntegrationsLogoContainer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  flex-wrap: wrap;
  gap: 75px;
}

.platformIntegrationsButton {
  align-self: center;
}

.platformIntegrationsContainer {
  margin-top: 24px;
}
