@use '../../abstracts/mixins' as mixins;
@use './entity-finder' as EntityFinder;

.Breadcrumbs {
  height: EntityFinder.$breadcrumb-height;
  background: var(--synapse-background-color-gray);
  padding-left: 15px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  .BreadcrumbItem {
    @include mixins.normalLink();
    font-weight: normal;
  }
  .BreadcrumbItem.Current {
    color: unset;
    font-weight: bold;
    cursor: unset;

    &:hover {
      text-decoration: unset;
    }
  }
}
