@mixin hover($background-color: '', $text-color: '') {
  @if $background-color != '' {
    background-color: $background-color;
  } @else {
    background-color: var(--entity-finder-hover-background-color);
  }
  @if $text-color != '' {
    color: $text-color;
  }
}

// https://github.com/leefsmp/Re-Flex/issues/27
.EntityFinderReflexContainer {
  width: 100%;
}

.MuiDialog-root {
  .EntityFinder {
    &__MainPanel.MainPanelDualPane,
    &__MainPanel.MainPanelSearch,
    .MainPanelSelected {
      // Within a MUI Dialog, set the non-tree-only content width to the smaller of 1450px and 85% of the viewport width
      // This prevents the dialog from resizing when switching between dual pane and search/selected tab modes
      width: min(1450px, 85vw);
    }
  }
}

.EntityFinder {
  --entity-finder-border-size: 1px;
  --entity-finder-border: var(--entity-finder-border-size) solid
    var(--synapse-border-color-gray);
  --entity-finder-height: 500px;
  --entity-finder-tree-header-height: 65px;
  --entity-finder-breadcrumb-height: 40px;
  --entity-finder-selected-background-color: var(--synapse-secondary-200);
  --entity-finder-selected-hover-background-color: var(
    --synapse-secondary-200-hover
  );
  --entity-finder-hover-background-color: var(--synapse-primary-100);
  --entity-finder-tree-only-width: 600px;
  --entity-finder-splitter-width: 12px;

  width: 100%;
  margin: auto;

  &__MainPanel {
    max-width: 100%;
    transition: width 0.25s linear;
    border: var(--entity-finder-border-size) solid
      var(--synapse-border-color-gray);
    height: calc(
      var(--entity-finder-height) + (var(--entity-finder-border-size) * 2)
    );
  }
  &__MainPanel.MainPanelDualPane,
  &__MainPanel.MainPanelSearch {
    width: 100%;
  }

  &__MainPanel.MainPanelSinglePane {
    width: calc(
      var(--entity-finder-tree-only-width) +
        (var(--entity-finder-border-size) * 2)
    );
  }

  .reflex-container.vertical > .reflex-splitter {
    height: var(--entity-finder-height);
    border-left: 3px solid transparent;
    border-right: none;
    background: transparent;
    box-sizing: border-box;
    width: var(--entity-finder-splitter-width);
    margin-right: calc(-1 * var(--entity-finder-splitter-width));
  }
  .reflex-container.vertical > .reflex-splitter:hover,
  .reflex-container.vertical > .reflex-splitter:active {
    border-left: 3px solid var(--synapse-primary-action-color);
    border-right: none;

    background-color: transparent;
  }

  .TreeView.BrowseTree {
    padding-left: 20px;
  }
}
