$-border-size: 1px;
$border: $-border-size solid var(--synapse-border-color-gray);
$finder-height: 500px;
$breadcrumb-height: 40px;
$selected-background-color: var(--synapse-secondary-200);
$selected-hover-background-color: var(--synapse-secondary-200-hover);
$-hover-background-color: var(--synapse-primary-100);
$tree-only-width: 600px;
$-splitter-width: 12px;

@mixin hover($background-color: '', $text-color: '') {
  @if $background-color != '' {
    background-color: $background-color;
  } @else {
    background-color: $-hover-background-color;
  }
  @if $text-color != '' {
    color: $text-color;
  }
}

// https://github.com/leefsmp/Re-Flex/issues/27
.EntityFinderReflexContainer {
  width: 100%;
}

.MuiDialog-root {
  .EntityFinder {
    &__MainPanel.MainPanelDualPane,
    &__MainPanel.MainPanelSearch,
    .MainPanelSelected {
      // Within a MUI Dialog, set the non-tree-only content width to the smaller of 1450px and 85% of the viewport width
      // This prevents the dialog from resizing when switching between dual pane and search/selected tab modes
      width: min(1450px, 85vw);
    }
  }
}

.EntityFinder {
  --entity-finder-height: #{$finder-height};
  --entity-tree-header-height: 65px;
  width: 100%;
  margin: auto;

  &__MainPanel {
    max-width: 100%;
    transition: width 0.25s linear;
    border: $-border-size solid var(--synapse-border-color-gray);
    height: $finder-height + ($-border-size * 2);
  }
  &__MainPanel.MainPanelDualPane,
  &__MainPanel.MainPanelSearch {
    width: 100%;
  }

  &__MainPanel.MainPanelSinglePane {
    width: $tree-only-width + ($-border-size * 2);
  }

  .reflex-container.vertical > .reflex-splitter {
    height: $finder-height;
    border-left: 3px solid transparent;
    border-right: none;
    background: transparent;
    box-sizing: border-box;
    width: $-splitter-width;
    margin-right: -1 * $-splitter-width;
  }
  .reflex-container.vertical > .reflex-splitter:hover,
  .reflex-container.vertical > .reflex-splitter:active {
    border-left: 3px solid var(--synapse-primary-action-color);
    border-right: none;

    background-color: transparent;
  }

  .TreeView.BrowseTree {
    padding-left: 20px;
  }
}

.EntityFileBrowser {
  --entity-finder-height: #{$finder-height};
  --entity-tree-header-height: 0px;
}
