@use '../../abstracts/variables' as SRC;
@use 'entity-finder' as EntityFinder;
@use 'sass:color';

.TreeView.SelectTree {
  background: unset;
  max-width: $-tree-only-width;

  .Header {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid SRC.$gray-light;
  }

  .Tree {
    .Node.SelectNode {
      border-top: 1px solid white;
      grid-template-columns: [toggle] 15px [icon] 27px [name] minmax(
          0,
          max-content
        ) [badge] auto;
      padding: 16px 20px;
      .ExpandButton {
        font-size: large;
        color: unset;
      }

      .EntityIcon {
        text-align: center;
        grid-column: icon / span 1;
        margin: 2px 3px 1px 3px;
        svg {
          width: 15px;
        }
      }
    }
    .Node.SelectNode[aria-selected='true'] {
      background: $-selected-background-color;
      &:hover {
        @include -hover($-selected-hover-background-color);
      }
    }
  }
  .Node[aria-disabled='false']:hover {
    @include -hover();
  }
}
