@use 'entity-finder' as EntityFinder;
@use 'sass:color';

.TreeView.SelectTree {
  background: unset;
  max-width: var(--entity-finder-tree-only-width);

  .Header {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid var(--synapse-gray-light);
  }

  .Tree {
    .Node.SelectNode {
      border-top: 1px solid white;
      grid-template-columns:
        [toggle] 15px [icon] 27px [name] minmax(0, max-content)
        [badge] auto;
      padding: 16px 20px;
      .ExpandButton {
        font-size: large;
        color: unset;
      }

      .EntityIcon {
        text-align: center;
        grid-column: icon / span 1;
        margin: 2px 3px 1px 3px;
        svg {
          width: 15px;
        }
      }
    }
    .Node.SelectNode[aria-selected='true'] {
      background: var(--entity-finder-selected-background-color);
      &:hover {
        @include EntityFinder.hover(
          var(--entity-finder-selected-hover-background-color)
        );
      }
    }
  }
  .Node[aria-disabled='false']:hover {
    @include EntityFinder.hover();
  }
}
