#body .AccountSettings{
    min-height: 100vh;
    background: rgb(237, 241, 245);
    padding-top: 40px;
    .container{
        max-width: 770px;
        min-height: 56vh;
        padding: 64px;
        background: #FEFEFE;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        td {
            padding-top: 8px;
        }
        td:first-child{
            font-weight: 700;
            padding-right: 30px;
        }
    }
    .btn-container {
        padding: 10px 30px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        .cancle-btn{
            color: black;
            background-color: none;
        }
    }
}