#body {
    .profile-page {
        font-size: 18px;

        .edit-btn-container {
            float: right;
            position: relative;
            bottom: 36px;
            min-width: 140px;
        }

        .containers {
            margin-bottom: 16px;
            overflow: hidden; 
            text-overflow: ellipsis;
            .contact-icon {
                width: 24px;
                margin-right: 8px;
            }
        }

        .edit-field {
            display: inline-block;
            margin: 0 16px;
        }

        .non-verified-profile-pic {
            border: solid 1px;
            width: 133px;
            height: 133px;
            border-radius: 100%;
            position: absolute;
            border-color: black;

            .non-verified-img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }

        }

        .verified-img-container {
            position: relative;

            .verified-border {
                position: absolute;
                width: 136.5px;
                z-index: 99;
            }

            .verified-img {
                width: 134px;
                border-radius: 100%;
            }
        }
    }

    .upload-btn{
        margin-top: 16px;
    }

    .modal-content {
        .cropper-modal-body {
            width: 400px;
            height: 400px;
            margin: 20px auto;
        }
    }

    .modal-btn-container {
        margin: auto;
        padding: 20px;

        .modal-btn {
            display: inline-block;
            width: 150px;
            min-width: 0;
        }
    }
}