:root:root {
  --synapse-primary-action-color: #4d5491;
  --synapse-secondary-action-color: #2f8e94;
}

#header,
#footer {
  background-color: var(--synapse-primary-action-color);
}

.SRC-primary-background-color-border-left {
  border-left-color: var(--synapse-primary-action-color) !important;
}
.SRC-mailchimpSubscribeContainer {
  button {
    background-color: var(--synapse-primary-action-color) !important;
  }
}

footer {
  img.nav-logo {
    width: 250px;
  }
}

.ProgramCardList {
  .SRC-imageThumbnail img {
    max-width: 100px;
    padding-top: 20px;
    padding-right: 30px;
    float: right;
  }
}

.ProgramsHomePage {
  .Programs__Card {
    width: 32%;
  }
}
