@use '@sage-bionetworks/synapse-portal-framework/src/style/variables' with (
  $primary-action-color: #4d5491,
  $secondary-action-color: #2f8e94,
  $header-url: 'config/style/header.svg',
  $footer-url: 'config/style/header.svg'
);
