@use 'sass:map';
@use 'synapse-react-client/style/abstracts/variables' as SrcVariables;

.banner {
  position: relative;
  width: 100%;
  aspect-ratio: 1440 / 379;
  background-image: url('/openChallengesBannerArc.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
}

.bannerLeft,
.bannerRight {
  position: absolute;
  bottom: 0;
  width: auto;
  pointer-events: none;
}

.bannerLeft {
  left: 0;
  height: 100%;
}

.bannerRight {
  right: 0;
  height: 100%;
}

.titleSection {
  margin-top: -100px;
  position: relative;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    margin-top: -30px;
    padding: 20px 60px;
  }
}

.titleSectionVectors {
  position: absolute;
  top: 25%;
  left: 52%;
  transform: translateX(-50%);

  @media (max-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    width: 60%;
    top: 35%;
  }
}

:global(.MuiTypography-root).title {
  font-weight: 700;
  color: black;
  line-height: 80px;

  @media (max-width: map.get(SrcVariables.$breakpoints, 'medium')) {
    font-size: 24px;
  }
}

.content {
  padding: 0 80px;
}
