@use 'sass:color';

.Ecosystem {
  padding-bottom: 50px;
  .header,
  .subtitle {
    text-align: center;
  }
  .header {
    margin-top: 63px;
    font-weight: 700;
    font-size: 21px;
  }
  .subtitle {
    margin-bottom: 20px;
  }
  .control-container {
    .button-container {
      .MuiTab-root {
        display: block;
        text-align: left;
        color: #515359;
        font-size: 16px;
        padding: 20px;
        &:hover {
          background-color: var(--synapse-primary-alpha-08);
        }
      }
    }
    .flex-spacer {
      flex-grow: 1;
    }
    .content-container {
      overflow-y: auto;
      flex: 3;
      padding-left: 30px;
      padding-right: 20px;
    }
    .markdown {
      h4 {
        padding-top: 18px;
        padding-bottom: 8px;
        margin-top: 5px;
        &:first-child {
          margin-top: 0px;
        }
      }
    }
  }
}
