.FacetNavPanel {
  --facetNavPanel-btn-padding: 3px;
  --facetNavPanel-btn-margin: 0 1px;
  &--expanded .main-svg,
  .main-svg {
    // https://sagebionetworks.jira.com/browse/PORTALS-1454
    overflow: visible !important;
  }
  padding: 5px 0;
  &__title {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--synapse-gray-dark);
    display: flex;
    &__name {
      font-size: 14px;
      font-weight: 700;
    }
    &__tools {
      font-size: 16px;
      margin-left: auto;
      order: 2;
      text-align: right;
      align-items: center;
      display: flex;
      gap: 2px;
      line-height: 16px;

      .ElementWithTooltip {
        flex: 1;
        flex-grow: 1;
        height: fit-content;
      }

      .show button.dropdown-toggle,
      button.dropdown-toggle:hover {
        color: inherit;
      }

      .dropdown .btn {
        // reset inherit margin/padding
        margin: var(--facetNavPanel-btn-margin);
        padding: var(--facetNavPanel-btn-padding);
        border: 0;
        border-radius: 0;

        &.active:focus {
          outline: none;
        }
      }

      .dropdown .btn .btn,
      .ElementWithTooltip {
        padding: var(--facetNavPanel-btn-padding);
        margin: var(--facetNavPanel-btn-margin);
      }
    }
  }
  &__body {
    padding: 20px 0;
  }

  &--expanded {
    .chart-tools {
      min-width: unset;
      button {
        display: block !important;
        white-space: nowrap;
        padding: 5px 12px;
      }
    }
  }
}
