.CompletenessIndicator__container {
  color: var(--synapse-gray-700);
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.CompletenessIndicator__icon:global(.MuiSvgIcon-root) {
  font-size: 1.25rem;
}

.CompletenessIndicator__categoryText:global(.MuiTypography-root) {
  font-weight: bold;
}
