.CompletenessIndicator__container {
  color: var(--synapse-gray-700);
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.CompletenessIndicator__icon:global(.MuiSvgIcon-root) {
  font-size: 1.25rem;
}

.CompletenessIndicator__categoryText:global(.MuiTypography-root) {
  font-weight: bold;
}

// Color exports for completeness categories
:export {
  excellentColor: #88c48a;
  goodColor: #b0d982;
  fairColor: #fbda79;
  poorColor: #f6b260;
  minimalColor: #ed8e87;
}
