@use '@sage-bionetworks/synapse-portal-framework/src/style/variables' with (
  $primary-action-color: #3e7293,
  $secondary-action-color: #164767,
  $header-url: 'config/style/dna_header.svg',
  $footer-url: 'config/style/dna.svg'
);
