@use 'synapse-react-client/style/main.scss' with (
  $primary-action-color: rgb(64, 123, 160),
  $secondary-action-color: rgb(98, 172, 98),
  $primary-bgcolor-rgba: unset
);

.App {
  font-family: 'DM Sans', sans-serif;
  overflow: hidden;
}

.BlueBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent
    url('https://s3.amazonaws.com/static.synapse.org/images/SynapseLoginPageBackground.svg')
    no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.LoginComponent,
.ComponentWrapper {
  background: #fff;
  padding: 50px;
  margin: 50px;
}
.LoginComponent {
  max-width: 460px;
}
.ComponentWrapper {
  max-width: 650px;
}
