@use 'sass:color';
@use 'sass:map';

// CSS Variables
:root {
  --synapse-button-text-transform: capitalize;
  --gray-1000: #22252a;
  --gray-900: #353a3f;
  --gray-800: #4a5056;
  --gray-700: #71767f;
  --gray-600: #aeb5bc;
  --gray-500: #d0d4d9;
  --gray-400: #dfe2e6;
  --gray-300: #eaecee;
  --gray-200: #f1f3f5;
  --gray-100: #fbfbfc;
  --info: #017fa5;
}

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors defined by design: https://www.figma.com/file/0oPm5lLSUva8kyfVNMS6FA/Synapse-Style-%26-Component-Library?node-id=77%3A1232
$colors: (
  'gray-1000': #22252a,
  'gray-900': #353a3f,
  'gray-800': #4a5056,
  'gray-700': #71767f,
  'gray-600': #aeb5bc,
  'gray-500': #d0d4d9,
  'gray-400': #dfe2e6,
  'gray-300': #eaecee,
  'gray-200': #f1f3f5,
  'gray-100': #fbfbfc,
  'white': #ffffff,
  'success': #32a330,
  'info': #017fa5,
  'warning': #cc9f00,
  'error': #c13415,
) !default;

$gray-dark: #dcdcdc !default;
$gray-light: #f9f9f9 !default;
$background-color-gray: $gray-light !default;
$border-color-gray: $gray-dark !default;
$background-color-gray-light: #fcfcfc !default;
$primary-action-color: rgb(64, 123, 160) !default;
$primary-bgcolor-rgba: rgba(201, 66, 129, 0.03) !default;

$text-color-dark: #1a1c29 !default;
$text-color-disabled: #bbbbbc !default;

$secondary-action-color: #469285 !default;
$secondary-action-color-dark: #5660e5 !default;

$tertiary-action-color: #f1d285 !default;

$gray-formtext: #515359 !default;
$gray-regular: #515359 !default;
$gray-deemphasized: #ababac !default;
$red-error: #b2242a !default;
$red-error2: #c94281 !default;
$space-unit: 2.1rem;

$green-affirmative: map.get($colors, 'success') !default;
$yellow-warning: map.get($colors, 'warning') !default;
$red-delete: $red-error2 !default;
$red-required: map.get($colors, 'error') !default;

$box-shadow-med: 0 1px 3px rgba(0, 0, 0, 0.5);
$box-shadow-soft: 0 3px 10px rgba(93, 105, 171, 0.1);

$active-tab-text: #22252a;
$inactive-tab-text: #71767f;

$themes: (
  drug-upload-tool: (
    action-color: #5960a5,
  ),
  contribution-request: (
    action-color: rgb(12, 141, 22),
  ),
);

$primary-action-color-active: color.adjust(
  $primary-action-color,
  $saturation: 50%,
  $lightness: 0%
) !default;

$primary-color-palette: (
  100: color.adjust($primary-action-color, $saturation: -25%, $lightness: 50%),
  200: color.adjust($primary-action-color, $saturation: -13%, $lightness: 20%),
  300: color.adjust($primary-action-color, $saturation: -3%, $lightness: 10%),
  400: color.adjust($primary-action-color, $saturation: -1%, $lightness: 5%),
  500: $primary-action-color,
  600: color.adjust($primary-action-color, $saturation: 5%, $lightness: -4%),
  700: color.adjust($primary-action-color, $saturation: 11%, $lightness: -8%),
  800: color.adjust($primary-action-color, $saturation: 18%, $lightness: -10%),
  900: color.adjust($primary-action-color, $saturation: 24%, $lightness: -18%),
) !default;

$secondary-color-palette: (
  100: color.adjust($secondary-action-color, $saturation: -25%, $lightness: 50%),
  200: color.adjust($secondary-action-color, $saturation: -13%, $lightness: 20%),
  300: color.adjust($secondary-action-color, $saturation: -3%, $lightness: 10%),
  400: color.adjust($secondary-action-color, $saturation: -1%, $lightness: 5%),
  500: $secondary-action-color,
  600: color.adjust($secondary-action-color, $saturation: 5%, $lightness: -4%),
  700: color.adjust($secondary-action-color, $saturation: 11%, $lightness: -8%),
  800: color.adjust($secondary-action-color, $saturation: 18%, $lightness: -10%),
  900: color.adjust($secondary-action-color, $saturation: 24%, $lightness: -18%),
) !default;

$tertiary-color-palette: (
  100: color.adjust($tertiary-action-color, $saturation: -25%, $lightness: 50%),
  200: color.adjust($tertiary-action-color, $saturation: -13%, $lightness: 20%),
  300: color.adjust($tertiary-action-color, $saturation: -3%, $lightness: 10%),
  400: color.adjust($tertiary-action-color, $saturation: -1%, $lightness: 5%),
  500: $tertiary-action-color,
  600: color.adjust($tertiary-action-color, $saturation: 5%, $lightness: -4%),
  700: color.adjust($tertiary-action-color, $saturation: 11%, $lightness: -8%),
  800: color.adjust($tertiary-action-color, $saturation: 18%, $lightness: -10%),
  900: color.adjust($tertiary-action-color, $saturation: 24%, $lightness: -18%),
) !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

// Buttons
$button-border-radius: 3px;
$button-text-transform: capitalize;

// To reset bootstrap button style
%button-reset {
  border: 0;
  outline: none;
  box-shadow: none;
  border-radius: $button-border-radius;
  text-transform: $button-text-transform;
}

// Form Control
$gray-input-border: 1px solid #f2f2f2;
$input-padding: 12px 13px;
