@use 'sass:color';
@use 'sass:map';

$raw-primary: rgb(64, 123, 160);
$raw-secondary: #469285;
$raw-tertiary: #f1d285;

// CSS Variables
:root {
  // Pre-comuted adjusted colors
  --synapse-primary-focus-border: #{color.adjust($raw-primary, $lightness: 25%)};
  --synapse-primary-focus-shadow: #{rgba($raw-primary, 0.25)};
  --synapse-secondary-200-hover: #{color.adjust(
      $raw-secondary,
      $saturation: -13%,
      $lightness: 10%
    )};
  --synapse-link-underline-color: #{color.adjust(
      $raw-primary,
      $saturation: -50%,
      $lightness: 40%
    )};
  --synapse-primary-action-color-alpha-4: #{color.change(
      $raw-primary,
      $alpha: 0.04
    )};
  --synapse-primary-alpha-05: #{color.change($raw-primary, $alpha: 0.05)};
  --synapse-secondary-action-color-alpha-10: #{color.change(
      $raw-secondary,
      $alpha: 0.1
    )};
  --synapse-primary-action-color-alpha-10: #{color.change(
      $raw-primary,
      $alpha: 0.1
    )};
  --synapse-secondary-action-color-alpha-20: #{color.change(
      $raw-secondary,
      $alpha: 0.2
    )};
  --synapse-secondary-action-color-alpha-50: #{color.change(
      $raw-secondary,
      $alpha: 0.5
    )};
  --synapse-dropdown-disabled-text: #{color.adjust(#212529, $lightness: 35%)};

  // Primary color palette
  --synapse-primary-active: #{color.adjust(
      $raw-primary,
      $saturation: 50%,
      $lightness: 0%
    )};

  --synapse-primary-100: #{color.adjust(
      $raw-primary,
      $saturation: -25%,
      $lightness: 50%
    )};
  --synapse-primary-200: #{color.adjust(
      $raw-primary,
      $saturation: -13%,
      $lightness: 20%
    )};
  --synapse-primary-300: #{color.adjust(
      $raw-primary,
      $saturation: -3%,
      $lightness: 10%
    )};
  --synapse-primary-400: #{color.adjust(
      $raw-primary,
      $saturation: -1%,
      $lightness: 5%
    )};
  --synapse-primary-500: var(--synapse-primary-action-color);
  --synapse-primary-600: #{color.adjust(
      $raw-primary,
      $saturation: 5%,
      $lightness: -4%
    )};
  --synapse-primary-700: #{color.adjust(
      $raw-primary,
      $saturation: 11%,
      $lightness: -8%
    )};
  --synapse-primary-800: #{color.adjust(
      $raw-primary,
      $saturation: 18%,
      $lightness: -10%
    )};
  --synapse-primary-900: #{color.adjust(
      $raw-primary,
      $saturation: 24%,
      $lightness: -18%
    )};

  // Secondary color palette
  --synapse-secondary-100: #{color.adjust(
      $raw-secondary,
      $saturation: -25%,
      $lightness: 50%
    )};
  --synapse-secondary-200: #{color.adjust(
      $raw-secondary,
      $saturation: -13%,
      $lightness: 20%
    )};
  --synapse-secondary-300: #{color.adjust(
      $raw-secondary,
      $saturation: -3%,
      $lightness: 10%
    )};
  --synapse-secondary-400: #{color.adjust(
      $raw-secondary,
      $saturation: -1%,
      $lightness: 5%
    )};
  --synapse-secondary-500: var(--synapse-secondary-action-color);
  --synapse-secondary-600: #{color.adjust(
      $raw-secondary,
      $saturation: 5%,
      $lightness: -4%
    )};
  --synapse-secondary-700: #{color.adjust(
      $raw-secondary,
      $saturation: 11%,
      $lightness: -8%
    )};
  --synapse-secondary-800: #{color.adjust(
      $raw-secondary,
      $saturation: 18%,
      $lightness: -10%
    )};
  --synapse-secondary-900: #{color.adjust(
      $raw-secondary,
      $saturation: 24%,
      $lightness: -18%
    )};

  // Tertiary color palette
  --synapse-tertiary-100: #{color.adjust(
      $raw-tertiary,
      $saturation: -25%,
      $lightness: 50%
    )};
  --synapse-tertiary-200: #{color.adjust(
      $raw-tertiary,
      $saturation: -13%,
      $lightness: 20%
    )};
  --synapse-tertiary-300: #{color.adjust(
      $raw-tertiary,
      $saturation: -3%,
      $lightness: 10%
    )};
  --synapse-tertiary-400: #{color.adjust(
      $raw-tertiary,
      $saturation: -1%,
      $lightness: 5%
    )};
  --synapse-tertiary-500: var(--synapse-tertiary-action-color);
  --synapse-tertiary-600: #{color.adjust(
      $raw-tertiary,
      $saturation: 5%,
      $lightness: -4%
    )};
  --synapse-tertiary-700: #{color.adjust(
      $raw-tertiary,
      $saturation: 11%,
      $lightness: -8%
    )};
  --synapse-tertiary-800: #{color.adjust(
      $raw-tertiary,
      $saturation: 18%,
      $lightness: -10%
    )};
  --synapse-tertiary-900: #{color.adjust(
      $raw-tertiary,
      $saturation: 24%,
      $lightness: -18%
    )};

  // Greyscale colors
  --synapse-black: #000;
  --synapse-white: #ffffff;
  --synapse-gray-1000: #22252a;
  --synapse-gray-900: #353a3f;
  --synapse-gray-800: #4a5056;
  --synapse-gray-700: #71767f;
  --synapse-gray-600: #aeb5bc;
  --synapse-gray-500: #d0d4d9;
  --synapse-gray-400: #dfe2e6;
  --synapse-gray-300: #eaecee;
  --synapse-gray-200: #f1f3f5;
  --synapse-gray-100: #fbfbfc;

  --synapse-gray-dark: #dcdcdc;
  --synapse-gray-light: #f9f9f9;
  --synapse-background-color-gray: var(--synapse-gray-light);
  --synapse-border-color-gray: var(--synapse-gray-dark);
  --synapse-background-color-gray-light: #fcfcfc;

  // Status Colors
  --synapse-info: #017fa5;
  --synapse-success: #32a330;
  --synapse-warning: #cc9f00;
  --synapse-error: #c13415;

  // Primary / Secondary / Tertiary Action Colors
  --synapse-primary-action-color: rgb(64, 123, 160);
  --synapse-primary-bgcolor-rgba: rgba(201, 66, 129, 0.03);
  --synapse-secondary-action-color: #469285;
  --synapse-secondary-action-color-dark: #5660e5;
  --synapse-tertiary-action-color: #f1d285;

  // Text
  --synapse-text-color-dark: #1a1c29;
  --synapse-text-color-disabled: #bbbbbc;

  // Error Reds
  --synapse-red-error: #b2242a;
  --synapse-red-error2: #c94281;

  // Tabs
  --synapse-active-tab-text: #22252a;
  --synapse-inactive-tab-text: #71767f;

  // Box shadows
  --synapse-box-shadow-med: 0 1px 3px rgba(0, 0, 0, 0.5);
  --synapse-box-shadow-soft: 0 3px 10px rgba(93, 105, 171, 0.1);

  // Affirmative / Warning / Delete / Required
  --synapse-green-affirmative: var(--synapse-success);
  --synapse-yellow-warning: var(--synapse-warning);
  --synapse-red-delete: var(--synapse-red-error2);
  --synapse-red-required: var(--synapse-error);

  // Form Control
  --synapse-gray-input-border: 1px solid #f2f2f2;
  --synapse-input-padding: 12px 13px;
  --synapse-gray-formtext: #515359;

  // Buttons
  --synapse-button-border-radius: 3px;
  --synapse-button-text-transform: capitalize;

  --synapse-space-unit: 2.1rem;

  --synapse-gray-regular: #515359;
  --synapse-gray-deemphasized: #ababac;
}

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors defined by design: https://www.figma.com/file/0oPm5lLSUva8kyfVNMS6FA/Synapse-Style-%26-Component-Library?node-id=77%3A1232
$colors: (
  'gray-1000': var(--synapse-gray-1000),
  'gray-900': var(--synapse-gray-900),
  'gray-800': var(--synapse-gray-800),
  'gray-700': var(--synapse-gray-700),
  'gray-600': var(--synapse-gray-600),
  'gray-500': var(--synapse-gray-500),
  'gray-400': var(--synapse-gray-400),
  'gray-300': var(--synapse-gray-300),
  'gray-200': var(--synapse-gray-200),
  'gray-100': var(--synapse-gray-100),
  'white': var(--synapse-white),
  'success': var(--synapse-success),
  // --synapse-theme-color-success
  'info': var(--synapse-info),
  'warning': var(--synapse-warning),
  'error': var(--synapse-error),
) !default;

$gray-dark: var(--synapse-gray-dark) !default;
$gray-light: var(--synapse-gray-light) !default;
$background-color-gray: $gray-light !default;
$border-color-gray: $gray-dark !default;
$background-color-gray-light: var(
  --synapse-background-color-gray-light
) !default;

$primary-action-color: var(--synapse-primary-action-color) !default;
$primary-bgcolor-rgba: var(--synapse-primary-bgcolor-rgba) !default;

$text-color-dark: var(--synapse-text-color-dark) !default;
$text-color-disabled: var(--synapse-text-color-disabled) !default;

$secondary-action-color: #469285 !default;
$secondary-action-color-dark: var(
  --synapse-secondary-action-color-dark
) !default;

$tertiary-action-color: #f1d285 !default;

$gray-formtext: var(--synapse-gray-formtext) !default;
$gray-regular: var(--synapse-gray-regular) !default;
$gray-deemphasized: var(--synapse-gray-deemphasized) !default;
$red-error: var(--synapse-red-error) !default;
$red-error2: var(--synapse-red-error2) !default;
$space-unit: var(--synapse-space-unit);

$green-affirmative: map.get($colors, 'success') !default;
$yellow-warning: map.get($colors, 'warning') !default;
$red-delete: $red-error2 !default;
$red-required: map.get($colors, 'error') !default;

$box-shadow-med: var(--synapse-box-shadow-med);
$box-shadow-soft: var(--synapse-box-shadow-soft);

$active-tab-text: var(--synapse-active-tab-text);
$inactive-tab-text: var(--synapse-inactive-tab-text);

$primary-action-color-active: var(--synapse-primary-active) !default;

$primary-color-palette: (
  100: var(--synapse-primary-100),
  200: var(--synapse-primary-200),
  300: var(--synapse-primary-300),
  400: var(--synapse-primary-400),
  500: var(--synapse-primary-500),
  600: var(--synapse-primary-600),
  700: var(--synapse-primary-700),
  800: var(--synapse-primary-800),
  900: var(--synapse-primary-900),
) !default;

$secondary-color-palette: (
  100: var(--synapse-secondary-100),
  200: var(--synapse-secondary-200),
  300: var(--synapse-secondary-300),
  400: var(--synapse-secondary-400),
  500: var(--synapse-secondary-500),
  600: var(--synapse-secondary-600),
  700: var(--synapse-secondary-700),
  800: var(--synapse-secondary-800),
  900: var(--synapse-secondary-900),
) !default;

$tertiary-color-palette: (
  100: var(--synapse-tertiary-100),
  200: var(--synapse-tertiary-200),
  300: var(--synapse-tertiary-300),
  400: var(--synapse-tertiary-400),
  500: var(--synapse-tertiary-500),
  600: var(--synapse-tertiary-600),
  700: var(--synapse-tertiary-700),
  800: var(--synapse-tertiary-800),
  900: var(--synapse-tertiary-900),
) !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

// Buttons
$button-border-radius: var(--synapse-button-border-radius);
$button-text-transform: var(--synapse-button-text-transform);

// done - placeholder cannot be convereted to CSS variable
// To reset bootstrap button style
%button-reset {
  border: 0;
  outline: none;
  box-shadow: none;
  border-radius: var(--synapse-button-border-radius);
  text-transform: var(--synapse-button-text-transform);
}

// Form Control
$gray-input-border: var(--synapse-gray-input-border);
$input-padding: var(--synapse-input-padding);
