#footer {
  background-image: none;
}

#header {
  display: none;
}

#footer {
  background: #26881f;
}
.ReleaseCard {
  background: white;
}

.Goals {
  &__Card {
    &__header {
      &__title,
      p {
        color: var(--synapse-gray-800);
      }
      &__count {
        border: 1px solid var(--synapse-gray-800);
      }
    }
  }
}
