name: 'Deploy sage-account-web'

on:
  push:
    branches:
      - main
    paths:
      - 'packages/synapse-react-client/**'
      - 'apps/SageAccountWeb/**'
jobs:
  build-and-deploy:
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/build-and-deploy-app.yml
    with:
      app-name: SageAccountWeb
      branch-or-tag: main
      bucket-name: staging.accounts.synapse.org
      cfdist-id: E1QXK5X5JV0YKJ
      deployment-role-arn: arn:aws:iam::797640923903:role/sagebase-github-oidc-sage-bionetworks-web-monorepo-infra
