name: "Deploy SageAccountWeb"

on:
  push:
    branches:
      - SageAccountWeb-production
      - main

jobs:
  build-and-deploy:
    name: build-and-deploy
    # limit to this repository
    if: github.repository == 'Sage-Bionetworks/synapse-web-monorepo'
    runs-on: ubuntu-latest
    # Allow OIDC Integration (so we can assume the AWS role to deploy)
    permissions:
      id-token: write
      contents: read
    steps:
      # if in staging branch set then bucket name to staging bucket
      - name: setup-outputbucket-staging
        if: github.ref == 'refs/heads/main'
        run: |
          echo 'BUCKET_NAME=staging.accounts.sagebionetworks.org' >> $GITHUB_ENV
          echo 'CFDIST_ID=EY52HOUGKDP1F' >> $GITHUB_ENV
      # if in production branch then set bucket name to production bucket
      - name: setup-outputbucket-prod
        if: github.ref == 'refs/heads/SageAccountWeb-production'
        run: |
          echo 'BUCKET_NAME=prod.accounts.sagebionetworks.org' >> $GITHUB_ENV
          echo 'CFDIST_ID=E2656IE63W1MXI' >> $GITHUB_ENV
      # if in main branch then bucket name is empty
      # checkout and build
      - name: checkout
        uses: actions/checkout@v3.0.0
      - name: setup-nodejs
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false
      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: install-dependencies
        run: pnpm install
      - name: build
        run: pnpm nx run SageAccountWeb:build
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: us-east-1
          role-to-assume: "arn:aws:iam::797640923903:role/sagebase-github-oidc-sage-ProviderRolesynapsewebmo-1DNSZNE6O57RM"
          role-session-name: GitHubActions-${{ github.repository_owner }}-${{ github.event.repository.name }}-${{ github.run_id }}
          role-duration-seconds: 1200
      # if not main branch deploy build to S3 bucket
      - name: deploy-build
        if: env.BUCKET_NAME != ''
        run: |
          aws s3 sync ./apps/SageAccountWeb/build s3://$BUCKET_NAME/ --delete
          aws cloudfront create-invalidation --distribution-id $CFDIST_ID --paths '/*'
