name: build-and-deploy-sageaccountweb
on:
  push:
    branches:
      - SageAccountWeb-production
      - SageAccountWeb-staging
      - main
jobs:
  build-and-deploy:
    name: build-and-deploy
    # limit to this repository
    if: github.repository == 'Sage-Bionetworks/synapse-web-monorepo'
    runs-on: ubuntu-latest
    steps:
      # if in staging branch set then bucket name to staging bucket
      - name: setup-outputbucket-staging
        if: github.ref == 'refs/heads/SageAccountWeb-staging'
        run: |
          echo 'BUCKET_NAME=staging.accounts.sagebionetworks.org' >> $GITHUB_ENV
          echo 'CFDIST_ID=EY52HOUGKDP1F' >> $GITHUB_ENV
      # if in production branch then set bucket name to production bucket
      - name: setup-outputbucket-prod
        if: github.ref == 'refs/heads/SageAccountWeb-production'
        run: |
          echo 'BUCKET_NAME=prod.accounts.sagebionetworks.org' >> $GITHUB_ENV
          echo 'CFDIST_ID=E2656IE63W1MXI' >> $GITHUB_ENV
      # if in main branch then bucket name is empty
      # checkout and build
      - name: checkout
        uses: actions/checkout@v3.0.0
      - name: setup-nodejs
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: install-dependencies
        run: pnpm install
      - name: build
        run: pnpm nx run SageAccountWeb:build
      # setup AWS creds
      - name: config-aws-creds
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AKID }}
          aws-secret-access-key: ${{ secrets.AKSID }}
          aws-region: us-east-1
          mask-aws-account-id: true
          role-to-assume: arn:aws:iam::797640923903:role/test-ghdeployer-GithubDeployerRole-V271Z804BS72
          role-session-name: deploy-sageaccountweb-build
          # TODO: fix role to allow this
          role-skip-session-tagging: true
          role-duration-seconds: 900
      # if not main branch deploy build to S3 bucket
      - name: deploy-build
        if: env.BUCKET_NAME != ''
        run: |
          aws s3 sync ./apps/SageAccountWeb/build s3://$BUCKET_NAME/ --delete
          aws cloudfront create-invalidation --distribution-id $CFDIST_ID --paths '/*'