name: 'Publish Storybook to GitHub Pages'

env:
  NODE_OPTIONS: '--max-old-space-size=4096'

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: ./.github/actions/pnpm-setup-action
      - name: Build Storybook
        run: pnpm nx run synapse-react-client:storybook:build
      - name: Create .nojekyll file for GitHub Actions
        run: touch packages/synapse-react-client/storybook-static/.nojekyll
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages
          folder: packages/synapse-react-client/storybook-static
