.labelRow {
  display: flex;
  align-items: baseline;
  gap: 6px;
  margin-bottom: 4px;
}

.inputLabel {
  position: relative !important;
  font-weight: 700;
  margin-bottom: 0;
  pointer-events: unset;
}

.helperText {
  font-weight: 500;
  color: var(--synapse-gray-600);
}

.charCount {
  text-align: right;
  color: var(--synapse-gray-600);
  font-size: 0.75rem;
  margin-top: 2px;
}
